/*********************
 *  Colorful Navbar  *
 *********************/

 nav {
   background-color: #546E7A;
   color: #f1f1f1;
   font-weight: 600;
   height: 50px;
   line-height: 3rem;
   padding-left: 16px;
   padding-right: 16px;
   z-index: 999;
   display: inline-block;
   font-size: 1.20rem;
   white-space: nowrap;
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

nav a {
    color: #f1f1f1;
}

nav a:hover:active {
    color: #ccc;
}

nav a:hover {
    opacity: 0.85;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.right {
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 0 16px 0 16px;
}

nav .logo img {
    height: 20px;
    vertical-align: middle;
}

/********************
 * Colorful Headers *
 ********************/

section:not(.hero) .economy h2,
.economy .fa-4x {
    color: #558B2F;
}

section:not(.hero) .energy h2,
.energy .fa-4x {
    color: #F9A825;
}

section:not(.hero) .tech h2,
.tech .fa-4x {
    color: #1565C0;
}

section:not(.hero) .health h2,
.health .fa-4x {
    color: #C62828;
}
