/*********************
 *  Colorful Navbar  *
 *********************/

 nav {
    background-color: #38e;
    background-image: -webkit-linear-gradient(left, #68b723, #f9c440, #3689e6);
    background-image: -o-linear-gradient(left, #68b723, #f9c440, #3689e6);
    background-image: -moz-linear-gradient(left, #68b723, #f9c440, #3689e6);
    background-image: -ms-linear-gradient(left, #68b723, #f9c440, #3689e6);
    background-image: linear-gradient(to right, #68b723, #f9c440, #3689e6);
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    color: #fff;
    font-weight: 600;
    height: 56px;
    line-height: 56px;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 999;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

nav a {
    color: #fff;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.right {
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 0 8px;
}

nav .logo img {
    height: 20px;
    vertical-align: middle;
}

/********************
 * Colorful Headers *
 ********************/

section:not(.hero) .economy h2,
.economy .fa-4x {
    color: #1d7e0d;
}

section:not(.hero) .energy h2,
.energy .fa-4x {
    color: #e48b20;
}

section:not(.hero) .tech h2,
.tech .fa-4x {
    color: #208be4;
}

section:not(.hero) .health h2,
.health .fa-4x {
    color: #c6262e;
}
