/*********************
 *  Colorful Navbar  *
 *********************/

 nav {
     background-color: transparent;
     background-image: none;
     font-weight: 600;
     height: 4rem;
     line-height: 4rem;
     padding-left: 1rem;
     padding-right: 1rem;
     display: inline-block;
     font-size: 1.20rem;
     white-space: nowrap;
     position: relative;
 }

 nav a {
     color: #f1f1f1;
 }

 nav a:hover:active {
     color: #ccc;
 }

 nav a:hover {
     opacity: 0.85;
 }

 nav ul {
     display: inline-block;
     list-style: none;
     margin: 0;
     padding: 0;
 }

 nav ul.right {
     float: right;
 }

 nav ul li {
     display: inline-block;
     margin: 0 1rem 0 1rem;
 }

 nav .logo img {
     height: 20px;
     vertical-align: middle;
 }

 .hero {
     background-image: url(../img/ideas.png), linear-gradient(120deg, #0F71E5 0%, #4564b2 50%, #009688 100%);
     background-size: cover;
     background-position-x: 100%;
     background-repeat: no-repeat;
     height: 34.25rem;
     margin-top: -4rem;
 }

/********************
 * Colorful Headers *
 ********************/

.info .card-title,
 .info .fa-4x {
     color: #009688;
 }

section:not(.hero) .economy .card-title,
.economy .fa-4x {
    color: #558B2F;
}

section:not(.hero) .energy .card-title,
.energy .fa-4x {
    color: #F9A825;
}

section:not(.hero) .tech .card-title,
.tech .fa-4x {
    color: #1565C0;
}

section:not(.hero) .health .card-title,
.health .fa-4x {
    color: #C62828;
}
