nav {
    background-color: transparent;
    background-image: none;
    font-weight: 600;
    height: 4rem;
    line-height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: inline-block;
    font-size: 1.20rem;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

nav a {
    color: #f1f1f1;
}

nav a:hover:active {
    color: #ccc;
}

nav a:hover {
    opacity: 0.85;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.right {
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 0 1rem 0 1rem;
}

nav .logo img {
    height: 20px;
    vertical-align: middle;
}

.hero {
    background-image: url(../img/hero.png), linear-gradient(120deg, #0F71E5 0%, #4564b2 50%, #009688 100%);
    background-size: cover;
    background-position-x: 100%;
    background-repeat: no-repeat;
    height: 34.25rem;
    margin-top: -4rem;
}

@media only screen and (max-width: 26.56rem) {
    .vexpand {
        height: calc(95vh - 14rem); /* I dunno magic numbers are magic */
    }

    .hero .two-thirds {
        padding: 0;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media only screen and (max-width: 26.56rem) and (orientation: portrait) {
    .hero {
        text-align: center;
        height: 41rem;
    }
}

@media only screen and (max-height: 667rem) and (orientation: portrait) {
    .hero h1 {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .vexpand {
        height: calc(95vh - 14rem); /* I dunno magic numbers are magic */
    }
}
