body {
  margin: 0 0 0 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

nav {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 100%;
  width: 100%;
  margin: auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
  display: inline-block;
  background-color: #373656;
  color: #f1f1f1;
  position: static;
}

nav ul {
  list-style: none;
  display: inline;
  vertical-align: middle;
}

nav img {
 position: relative;
 top: 16px;
 right: 16px;
}

nav ul li {
  list-style: none;
  float: left;
  width: 20%;
  display: inline;
  vertical-align: middle;
}

nav a {
  color: #F1F1F1;
  vertical-align: text-bottom;
}

a {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-Serif';
  text-decoration: none;
  color: #0099FF;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.8em;
  font-family: 'Raleway', 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: 300;
}

p {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 1em;
  line-height: 1.2em;
  color: #333;
}

div {
  padding: 20px;
  position: relative;
}

div ul {
  list-style: none;
}

div ul li {
  list-style: none;
  width: 20%;
}

footer {
  border-top: 5px solid #d5d5d5;
  font-size: .8em;
}

footer ul {
  list-style: none;
}

footer ul li {
  list-style: none;
  float: left;
  width: 5%;
}
