/* Styling by Daniel Foré */

body,
html {
    background-color: #fafafa;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font: 16px "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

.animated {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

/***************
 * Text Styles *
 **************/

*[data-align='center'] {
    text-align: center;
}

*[data-align='right'] {
    text-align: right;
}

a {
    color: #2b63a0;
    text-decoration: none;
}

h1 {
    font-family: Raleway;
    font-weight: 300;
    font-size: 48px;
    margin: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 16px;
    padding: 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

h3 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
    font-weight: 400;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

section:not(.hero) h2,
.fa-4x {
    color: #2b63a0;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

p {
    line-height: 1.5;
}

.dim-label {
    opacity: 0.8;
}

/**********
 * Button *
 *********/

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  color: #f1f1f1;
}

.button .fa {
    margin-right: 6px;
}

@media only screen and (max-width: 640px) {
    .button {
        width: calc(100% - 24px);
    }
}

@media only screen and (min-width: 640px) {
    .button + .button {
        margin-left: 12px;
    }
}

/*********************
 * Alt Button States *
 *********************/

.button.alt {
    border: 1px solid #6ec06e;
    background-color: #5cb85c;
    color: #f1f1f1;
}

.button.alt:hover {
    border: 1px solid #398439;
    background-color: #449d44;
    color: #fff;
}

.button.alt:active {
    background-color: #449d44;
    border: 1px solid #398439;
    color: #ccc;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-image: none;
    outline: 0;
}

.button.ghost {
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
}

.button.ghost:hover {
    border: 1px solid #35abf3;
    background-color: #1da1f2;
    color: #fff;
}

.button.ghost:active {
    background-color: #1da1f2;
    border: 1px solid #35abf3;
    color: #ccc;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-image: none;
    outline: 0;
}

.button.ghost.live {
    border: 1px solid #888;
    color: #888;
}

.button.ghost.live:hover {
    border: 1px solid #555;
    background-color: #666;
    color: #fff;
}

.button.ghost.live:active {
    background-color: #666;
    border: 1px solid #555;
    color: #ccc;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    background-image: none;
    outline: 0;
}

/********
 * Grid *
 *******/

main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

main div ul {
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
    vertical-align: text-bottom;
}

main div ul li {
    list-style: none;
    text-align: justify;
    word-wrap: break-word;
    font-weight: 500;
    font-size: 1.1rem;
}

main div ul li a {
    color: #4fcfff;
}

main div ul li a:hover {
    color: #acf5ff;
}

.avatar {
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    max-width:10%;
    max-height:10%;
    background-color: #f1f1f1;
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.07),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    vertical-align: middle;
    margin: -10px 0px 0px 7px;
}

.grid {
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

.grid > * {
    margin: 16px;
}

@media only screen and (max-width: 640px) {
    .grid > *:first-child {
        padding-top: 3px;
    }

    .grid > *:last-child {
        padding-bottom: 16px;
    }
}

@media only screen and (min-width: 640px) {
    .grid > * {
        padding-bottom: 20px;
    }

    .grid .half {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 48px);
    }

    .grid .whole {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        padding-top: 20px;
        padding-bottom: 8px;
        width: 100%;
    }

    .grid .half:only-child {
        width: 50%;
    }

    .grid .third {
        display: inline-block;
        vertical-align: top;
        width: calc(33% - 32px);
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .grid .two-thirds {
        display: inline-block;
        vertical-align: top;
        width: calc(66% - 48px);
    }

    .grid .two-thirds:only-child {
        width: 66%;
    }

    .grid > *:only-child {
        display: block;
        margin: 0 auto;
    }
}

/**********
 * Images *
 **********/

img {
    max-width: 100%;
}

/*******************
 * Read More Links *
 ******************/

.read-more {
    color: #7E8087;
    font-size: 14px;
    opacity: 0.85;
}

.read-more::after {
    color: inherit;
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: inherit;
    margin-top: 0.2em;
    padding-left: 6px;
    position: absolute;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.read-more:hover::after {
    padding-left: 10px;
}

.read-more .fa {
    margin-right: 12px;
}

.read-more:hover .fa {
    opacity: 1;
}

.read-more.blue:hover .fa {
    color: #64baff;
}

.read-more.blue:hover {
    color: #64baff;
    opacity: 1;
}

.read-more.green:hover .fa {
    color: #9bdb4d;
}

.read-more.green:hover {
    color: #9bdb4d;
    opacity: 1;
}

.read-more.red:hover .fa {
    color: #ed5353;
}

.read-more.red:hover {
    color: #ed5353;
    opacity: 1;
}

/*******
 * Nav *
 *******/

nav {
    background-color: #607d8b;
    color: #f1f1f1;
    font-weight: 600;
    height: 50px;
    line-height: 3rem;
    padding-left: 16px;
    padding-right: 16px;
    z-index: 999;
    display: inline-block;
    font-size: 1.20rem;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

nav a {
    color: #f1f1f1;
}

nav a:hover:active {
    color: #ccc;
}

nav a:hover {
    opacity: 0.85;
}

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul.right {
    float: right;
}

nav ul li {
    display: inline-block;
    margin: 0 16px 0 16px;
}

nav .logo img {
    height: 20px;
    vertical-align: middle;
}

/**********
 * Footer *
 *********/

footer {
    background-color: #eee;
    box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.24), 0 -1px 2px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: #555;
    font-size: 12px;
    line-height: 48px;
    padding: 0px;
    text-align: center;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 16px;
}

footer ul li {
    background-image: -webkit-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.07),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin: 6px;
    text-align: center;
    width: 36px;
}

footer ul a {
    color: #f1f1f1;
    display: block;
    height: 100%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    width: 100%;
}

footer ul a:hover {
    color: #f8f8f8;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}

footer a {
    color: #0d52bf;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

footer a:hover {
    color: #3689e6;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

footer a:active {
    color: #69abf9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

footer ul .gray-github {
    background-color: #5c6876;
}

footer ul .gray-github:active {
    background-color: #818e9d;
}

footer ul .gray-github:hover {
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.07),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.1),
        0 8px 10px 1px rgba(92, 104, 118, 0.14),
        0 3px 14px 2px rgba(92, 104, 118, 0.12),
        0 5px 5px -3px rgba(92, 104, 118, 0.4);
}

footer ul .blue-twitter {
    background-color: #55acee;
}

footer ul .blue-twitter:active {
    background-color: #88ceff;
}

footer ul .blue-twitter:hover {
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.07),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.1),
        0 8px 10px 1px rgba(0, 100, 214, 0.14),
        0 3px 14px 2px rgba(0, 100, 214, 0.12),
        0 5px 5px -3px rgba(0, 100, 214, 0.4);
}

footer ul .telegram {
    background-color: #0088cc;
}

footer ul .telegram:active {
    background-color: #33aaee;
}

footer ul .telegram:hover {
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.07),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.1),
        0 8px 10px 1px rgba(0, 136, 204, 0.14),
        0 3px 14px 2px rgba(0, 136, 204, 0.12),
        0 5px 5px -3px rgba(0, 136, 204, 0.4);
}

footer ul .yellow {
    background-color: #f9c440;
}

footer ul .yellow:active {
    background-color: #fad663;
}

footer ul .yellow:hover {
    box-shadow:
        inset 0 0 0 1px rgba(255, 255, 255, 0.07),
        inset 0 -1px 0 0 rgba(255, 255, 255, 0.1),
        0 8px 10px 1px rgba(249, 196, 64, 0.14),
        0 3px 14px 2px rgba(249, 196, 64, 0.12),
        0 5px 5px -3px rgba(249, 196, 64, 0.4);
}

/***********
 * Tooltip *
 **********/

.tooltip::after {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    content: attr(data-tooltip) "";
    display: inline-block;
    font-size: 12px;
    background-color: rgba(51, 51, 51, 0.8);
    border-radius: 3px;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 12px;
    margin: -36px -30px;
    opacity: 0;
    padding: 8px 6px;
    pointer-events: none;
    position: absolute;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 250ms;
    transition: all 250ms;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

.tooltip:hover::after {
    opacity: 1;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
}

/***********
 *   Hero  *
 **********/

 .hero {
     background-color: #607d8b;
     background-image: url("../img/hero.png");
     box-shadow:
         0 1px 3px rgba(0, 0, 0, 0.12),
         0 1px 2px rgba(0, 0, 0, 0.24);
     color: #F1F1F1;
     background-size: cover;
     background-position-x: 100%;
     background-position-y: 100%;
     background-repeat: no-repeat;
     height: calc(65vh - 56px);
     max-height: calc(100vh - 56px);
     padding-top: 16px;
 }

 @media only screen and (min-width: 425px) {
     .hero {
         height: 410px;
         min-height: 365px;
     }
 }

 @media only screen and (max-width: 425px) {
     .vexpand {
         height: calc(50vh - 225px); /* I dunno magic numbers are magic */
     }

     .hero .two-thirds {
         padding: 0;
     }

     a.button.suggested-action.alt {
        margin-right: 0px;
     }

     a.button.suggested-action.main {
        margin-right: 0px;
     }
 }

 @media only screen and (max-width: 425px) and (orientation: portrait) {
     .hero {
         text-align: center;
         height: calc(55vh - 15px);
     }

     main div ul {
         list-style: none;
         padding: 16px 32px 32px 16px;
         margin-top: 0px;
         margin-bottom: 0px;
         vertical-align: text-bottom;
     }

     p .hero.grid.two-thirds {
       margin-top: 0px;
       margin-bottom: 0px;
     }

     .grid .third {
         list-style: none;
         padding: 16px 32px 32px 16px;
         margin-top: 0px;
         margin-bottom: 0px;
         vertical-align: text-bottom;
     }

     a.button.suggested-action.alt {
        margin-right: 0px;
     }

     a.button.suggested-action.main {
        margin-right: 0px;
     }
 }

 @media only screen and (max-width: 375px) and (orientation: portrait) {
     .hero {
         text-align: center;
         height: calc(42vh - 15px);
         min-height: calc(42vh - 15px);
     }

     main div ul {
         list-style: none;
         padding: 12px 3px 12px 3px;
         margin-top: 0px;
         margin-bottom: 0px;
         vertical-align: text-bottom;
     }

     .grid .two-thirds {
        margin: 12px;
     }

     .hero h1 {
         font-size: 24px;
         line-height: 12px;
     }

     h3 {
         font-size: 12px;
     }

     a.button.suggested-action.alt {
        margin-right: 0px;
     }

     a.button.suggested-action.main {
        margin-right: 0px;
     }
 }

 @media only screen and (max-height: 667px) and (orientation: portrait) {
     .hero {
         height: calc(58vh - 45px);
     }

     main div ul {
         list-style: none;
         padding: 12px 3px 12px 3px;
         margin-top: 0px;
         margin-bottom: 0px;
         vertical-align: text-bottom;
     }

     .grid .third {
         list-style: none;
         padding: 32px 16px 16px 32px;
         margin-top: 0px;
         margin-bottom: 0px;
         vertical-align: text-bottom;
     }

     .hero h1 {
         font-size: 36px;
         line-height: 24px;
     }

     h3 {
         font-size: 18px;
     }

     .vexpand {
         height: calc(50vh - 224px); /* I dunno magic numbers are magic */
     }
 }
