/*****************
 * COLOR PALETTE *
 *****************/

// Swatches
$fg: #555864;
$button-success: #3DCCBB;
$button-info: #1584FF;
$button-ghost: #616472;
$button-ghost-night: #FFFFFF;
$bg: #ECEEF1;
$link: #1584FF;
$badge: #868A99;
$badge-text: #FFFFFF;
$badge-success: #3DCCBB;
$chip: #ECEEF1;
$card: #FAFDFF;
$card-night: #43454C;
$header: #0088CC;
$tooltip: #32343B;
$coin: #C5E2BA;
$quilter: #C6DBE9;
$notejot: #FFF6C3;
$fab-icon: #FCFDFF;
$fab-telegram: #0088CC;
$fab-twitter: #1DA1F2;
$fab-gplus: #FF4D61;
$fab-mail: #FFF596;
$fab-medium: #0BE3A0;
$fab-patreon: #F96854;
$fab-github: #666975;
$js: #F7DF1E;
$py: #3974A4;
$vala: #403757;
$html: #E44D26;
$bash: #333;
$java: #AA6655;
$c: #66AACC;
$pt: #183883;
$en: #D11145;
$de: #FBB031;
$it: #1E9158;
$es: #F96854;
$zh: #CC3333;
$jp: #E9B1CD;

// Mixes
$link-hover: darken($link, 5%);
$link-active: darken($link, 10%);
$button-success-hover: darken($button-success, 5%);
$button-success-active: darken($button-success, 10%);
$button-info-hover: darken($button-info, 5%);
$button-info-active: darken($button-info, 10%);
$button-ghost-hover: darken($button-ghost, 5%);
$button-ghost-active: darken($button-ghost, 15%);
$button-ghost-night-hover: darken($button-ghost-night, 5%);
$button-ghost-night-active: darken($button-ghost-night, 10%);
$badge-success-hover: darken($button-success, 5%);
$badge-blue-hover: darken($button-info, 5%);
