---
---

/* COLORS */

$bg: #eeeeee;
$fg: #333333;
$button-success: #12B083;
$button-info: #3FA0DE;
$fab-red: #F46268;
$fab-yellow: #F7CD2F;
$nav-index: mix(darken($bg, 70%), $button-info, 70%);
$nav-ideas: mix(darken($bg, 70%), $button-success, 70%);
$nav-tastes: mix(darken($bg, 70%), $fab-yellow, 70%);
$nav-fourohfour: mix(darken($bg, 70%), $fab-red, 70%);
$button-success-hover: darken($button-success, 5%);
$button-success-border: darken($button-success, 10%);
$button-success-active: darken($button-success, 15%);
$button-info-hover: darken($button-info, 5%);
$button-info-border: darken($button-info, 10%);
$button-info-active: darken($button-info, 15%);
$button-ghost: lighten($fg, 20%);
$button-ghost-hover: darken($button-ghost, 5%);
$button-ghost-border: darken($button-ghost, 10%);
$button-ghost-active: darken($button-ghost, 15%);
$button-ghost-night: lighten($button-ghost, 20%);
$button-ghost-night-hover: lighten($button-ghost, 10%);
$button-ghost-night-border: lighten($button-ghost, 5%);
$button-ghost-night-active: $button-ghost;
$link: darken($button-info, 5%);
$link-hover: darken($button-info-hover, 5%);
$link-active: darken($button-info-border, 5%);
$card: lighten($fg, 90%);
$card-image-coin: mix(lighten($fg, 70%), $button-success-hover, 70%);
$card-image-notejot: mix(lighten($fg, 80%), $fab-yellow, 70%);
$card-image-quilter: mix(lighten($fg, 70%), $button-info, 80%);
$badge: lighten($fg, 40%);
$button-neutral: lighten($fg, 60%);
$button-neutral-border: lighten($fg, 60%);
$badge-success: $button-success;
$badge-success-hover: $button-success-hover;
$badge-blue-hover: $button-info-hover;
$tooltip: lighten($fg, 20%);
$fab-img: lighten($fg, 90%);
$fab-black: lighten($fg, 10%);
$fab-info: $button-info;
$fab-medium: $button-success;
$fab-telegram: darken($button-info, 10%);
$fab-success: $button-success-border;
$info: $button-info;
$green: $fab-success;
$yellow: $fab-yellow;
$blue: $fab-telegram;
$red: $fab-red;
$orange: darken(mix($fab-red, $fab-yellow, 50%), 5%);

/* DEVICE MEDIA */

$mobile: "(max-width: 425px)";
$tablet: "(min-width: 425px) and (max-width: 768px)";
$desktop: "(min-width: 769px)";

body,
html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font: 1rem "Roboto", sans-serif;
    text-rendering:optimizeLegibility;
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: $bg;
    color: $fg;
}

.link {
    color: $link;
}

.link:hover {
    color: $link-hover;
}

.link:active {
    color: $link-active;
}

.animated {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.circle {
    border: 1px solid $badge;
    background-color: $badge;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    margin-top: 10px;
    margin-bottom: -25px;
    margin-right: 15px;
}

.shadow {
    -webkit-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
}

.footer-shadow {
    -webkit-box-shadow: 0px -3px 9px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px -3px 9px 1px rgba(0,0,0,0.15);
    box-shadow: 0px -3px 9px 1px rgba(0,0,0,0.15);
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin: -5px 5px 0px 5px;
}

.badge {
    color: $badge;
    background-color: transparent;
    border: 1px solid $badge;
    display: inline;
    padding: .2em .6em .2em .6em;
    font-size: 85%;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    margin: 3px;
}

.badge.fa {
    margin-right: 2px;
    font-size: 13px;
}

/* BADGE COLORS */

.badge.success {
    color: $bg;
    background-color: $badge-success;
    border: 1px solid $badge-success;
}

.badge.success:hover {
    color: $bg;
    background-color: $badge-success-hover;
    border: 1px solid $badge-success-hover;
}

.badge.blue:hover {
    color: $bg;
    background-color: $badge-blue-hover;
    border: 1px solid $badge-blue-hover;
}



/***************
 * Text Styles *
 **************/

*[data-align='center'] {
    text-align: center;
}

*[data-align='right'] {
    text-align: right;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    font-family: Raleway;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 0 auto;
}

h2 {
    font-family: Raleway;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

h3 {
    font-family: Raleway;
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0.5rem;
}

h4 {
    font-size: 1px;
    opacity: 0.8;
}

.dim-label {
    opacity: 0.8;
}

.card {
  border-radius: 3px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  transition: color .3s ease;
  background-color: $card;
}

.card-title {
  font-family: Raleway;
  font-weight: 300;
  font-size: 2.6rem;
  color: $fg;
}

.card-subtitle {
  font-family: Raleway;
  font-weight: 300;
  font-size: 1.6rem;
  color: $fg;
  text-align: left;
}

.card-text {
  text-align: left;
  margin-top: 1.5rem;
  color: $fg;
}

.card-image {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2rem 0 2rem 0;
    border-radius: 3px;
    border-bottom: 1px solid rgba(160,160,160,0.4);
    border-radius: 3px 3px 0 0;
}

.card-image.coin {
    background-color: $card-image-coin;
}

.card-image.notejot {
    background-color: $card-image-notejot;
}

.card-image.quilter {
    background-color: $card-image-quilter;
}

.card-action {
  position: relative;
  background-color: transparent;
  border-top: 1px solid rgba(160,160,160,0.4);
  padding: 16px 1.5rem;
  justify-content: space-between;
  text-align: left;
  border-radius: 0 0 3px 3px;
}

.card-action .fa {
  margin-right: 8px;
}

.card-body {
  border-radius: 2px 2px 0 0;
  padding: 2px 1.5rem 1.5rem 1.5rem;
}

/**********
 * Button *
 *********/

.button {
    border-radius: 100px;
    display: inline-block;
    margin: 12px 0;
    min-width: 100px;
    padding: 0.8rem;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-transform: uppercase;
}

.button .fa {
    margin-right: 8px;
}

.footer-button {
    font-size: 0.8rem;
}

/* BUTTON COLORS */

.button.success {
    background-color: $button-success;
    background-image: none;
    border: 1px solid $button-success;
    color: $bg;
}

.button.success:hover {
    background-color: $button-success-hover;
    color: $bg;
    border: 1px solid $button-success-border;
}

.button.success:active {
    background-color: $button-success-active;
    background-image: none;
    color: $bg;
    border: 1px solid $button-success-border;
}

.button.success:focus {
    box-shadow: 0 0 0 2px rgba(92,184,92,.5);
}

.button.info {
    background-color: $button-info;
    background-image: none;
    border: 1px solid $button-info;
    color: $bg;
}

.button.info:hover {
    background-color: $button-info-hover;
    color: $bg;
    border: 1px solid $button-info-border;
}

.button.info:active {
    background-color: $button-info-active;
    background-image: none;
    color: $bg;
    border: 1px solid $button-info-border;
}

.button.info:focus {
    box-shadow: 0 0 0 2px rgba(31,152,222,.5);
}

.button.neutral {
    background-color: $button-neutral;
    color: $fg;
    border: 1px solid $button-neutral;
}

.button.neutral:hover {
    background-color: $button-neutral;
    color: $fg;
    border: 1px solid $button-neutral-border;
}

.button.neutral:active {
    background-color: $button-neutral;
    background-image: none;
    color: $fg;
    border: 1px solid $button-neutral-border;
}

.button.neutral:focus {
    box-shadow: 0 0 0 2px rgba(233,233,233,.5)
}

.button.ghost {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $button-ghost;
    border: 1px solid $button-ghost;
}

.button.ghost:hover {
    background-color: $button-ghost-hover;
    background-image: none;
    box-shadow: none;
    color: $bg;
    border: 1px solid $button-ghost-border;
}

.button.ghost:active {
    background-color: $button-ghost-active;
    background-image: none;
    box-shadow: none;
    color: $bg;
    border: 1px solid $button-ghost-border;
}

.button.ghost-night {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $button-ghost-night;
    border: 1px solid $button-ghost-night;
}

.button.ghost-night:hover {
    background-color: $button-ghost-night-hover;
    background-image: none;
    box-shadow: none;
    color: $bg;
    border: 1px solid $button-ghost-night-border;
}

.button.ghost-night:active {
    background-color: $button-ghost-night-active;
    background-image: none;
    box-shadow: none;
    color: $bg;
    border: 1px solid $button-ghost-night-border;
}

.button.ghost-twitter {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $button-info;
    border: 1px solid $button-info;
}

.button.ghost-twitter:hover {
    background-color: $button-info-hover;
    background-image: none;
    box-shadow: none;
    color: $bg;
    border: 1px solid $button-info-border;
}

.button.ghost-twitter:active {
    background-color: $button-info-active;
    background-image: none;
    box-shadow: none;
    color: $bg;
    border: 1px solid $button-info-border;
}

/********
 * Grid *
 *******/

main {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.grid {
    margin: 5rem auto;
    max-width: 1100px;
    width: 95%;
}

.whole {
    width: 100%;
    margin: 0 1rem;
}

.half {
    width: 50%;
    padding: 0.23rem;
    margin: 0 auto;
}

.two-thirds {
    width: 66%;
    padding: 0.5rem;
    margin: 0 auto;
}

.third {
    margin: 1rem 0.5rem 1rem 0.5rem;
    width: 33%;
    padding: 0;
}

.quarter {
    width: 25%;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0;
}

/**********
 * Images *
 **********/

img {
    max-width: 100%;
}

/********
 * Hero *
 ********/

 .hero {
     background-color: $bg;
     color: $bg;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     max-width: 100%;
     min-height: 30vh;
     background-size: cover;
     background-position-x: 0%;
     background-position-y: 28%;
     background-repeat: no-repeat;
     height: 40.625rem;
 }

.hero.index {
    background-color: initial;
    background-image: url(../img/waver.svg);
}

.hero.ideas {
    background-color: initial;
    background-image: url(../img/waver2.svg);
}

.hero.tastes {
    background-color: initial;
    background-image: url(../img/waver3.svg);
}

.hero.fourohfour {
    background-color: initial;
    background-image: url(../img/waver4.svg);
}

/*******************
 *       Nav       *
 ******************/

.nav {
   background-image: none;
   height: 4rem;
   line-height: 4rem;
   padding-left: 1.2rem;
   padding-right: 1.2rem;
   display: inline-block;
   font-size: 1.2rem;
   white-space: nowrap;
   position: relative;
}

.nav.index {
   background-color: $nav-index;
}

.nav.ideas {
   background-color: $nav-ideas;
}

.nav.tastes {
   background-color: $nav-tastes;
}

.nav.fourohfour {
   background-color: $nav-fourohfour;
}

.nav-icon:hover {
    opacity: 0.8;
}

.nav-icon {
     display: inline-block;
     margin: 0 8px;
}

.nav-bar {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar.right {
    float: right;
}

.nav-bar.left {
    float: left;
}

.nav-link {
    color: $bg;
}

.nav-link:hover:active {
    opacity: 0.8;
}

/**********
 * Footer *
 *********/

.footer {
    background-color: $card;
    color: $fg;
    box-sizing: border-box;
    font-size: 0.7rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.footer-black {
    background-color: $fg;
    color: $card;
    box-sizing: border-box;
    font-size: 0.7rem;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.footer-space {
    list-style: none;
    padding: 0 0 1rem 0;
    margin: 0 auto;
    text-align: center;
}

.fab {
    border-radius: 100%;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    margin: 6px;
    text-align: center;
    width: 42px;
}

.fab-img {
    color: $fab-img;
    display: block;
    height: 100%;
    width: 100%;
}

.fab-img:active {
    opacity: 0.8;
}

.fab.black {
    background-color: $fab-black;
}

.fab.black:hover {
    background-color: darken($fab-black, 5%);
}

.fab.blue-twitter {
    background-color: $fab-info;
}

.fab.blue-twitter:hover {
    background-color: darken($fab-info, 5%);
}

.fab.medium {
    background-color: $fab-medium;
}

.fab.medium:hover {
    background-color: darken($fab-medium, 5%);
}

.fab.telegram {
    background-color: $fab-telegram;
}

.fab.telegram:hover {
    background-color: darken($fab-telegram, 5%);
}

.fab.red {
    background-color: $fab-red;
}

.fab.red:hover {
    background-color: darken($fab-red, 5%);
}

.fab.yellow {
    background-color: $fab-yellow;
}

.fab.yellow:hover {
    background-color: darken($fab-yellow, 5%);
}

/***********
 * Tooltip *
 **********/

/* Top tooltip*/

.tooltip {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.tooltip:before,
.tooltip:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  text-transform: capitalize;
}

.tooltip:before {
  background-color: $tooltip;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -58px;
  padding: 7px;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.tooltip:after {
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid $tooltip;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

.tooltip:hover:before,
.tooltip:hover:after {
  visibility: visible;
  opacity: 1;
}

/* Bottom Tooltip */

.tooltip-bottom {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.tooltip-bottom:before,
.tooltip-bottom:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  text-transform: capitalize;
}

.tooltip-bottom:before {
  background-color: $tooltip;
  position: absolute;
  top: 120%;
  left: 50%;
  margin-top: 5px;
  margin-left: -58px;
  padding: 7px;
  width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.tooltip-bottom:after {
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-bottom: 5px solid $tooltip;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after {
  visibility: visible;
  opacity: 1;
}

/* HEADER COLORS */

.info .card-title,
 .info .fa-4x {
     color: $info;
 }

section:not(.hero) .green .card-title,
.green .fa-4x {
    color: $green;
}

section:not(.hero) .yellow .card-title,
.yellow .fa-4x {
    color: $yellow;
}

section:not(.hero) .blue .card-title,
.blue .fa-4x {
    color: $blue;
}

section:not(.hero) .red .card-title,
.red .fa-4x {
    color: $red;
}

section:not(.hero) .orange .card-title,
.orange .fa-4x {
    color: $orange;
}

/***********
 *  Media  *
 **********/

@media #{$desktop} {
    .card {
      width: 100%;
      margin-bottom: 2rem;
    }

    .grid > * {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding: 1rem 0rem 1rem 0rem;
        margin: 1rem 0rem 1rem 0rem;
    }

    .grid .half {
        display: inline-flex;
        vertical-align: top;
        width: calc(50% - 1rem);
        padding-left: 8px;
        padding-bottom: 0px;
    }

    .grid .half:only-child {
        width: 50%;
    }

    .grid .quarter {
        display: inline-block;
        vertical-align: top;
        width: 22%;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .grid .quarter + .quarter {
        display: inline-block;
        vertical-align: top;
        width: 22%;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .grid .third {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 0 auto;
        padding-left: 1.05rem;
        padding-right: 1.05rem;
    }

    .grid .third + .third {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 0 auto;
        padding-left: 1.05rem;
        padding-right: 1.05rem;
    }

    .grid .two-thirds {
        display: inline-block;
        vertical-align: top;
        width: calc(66% - 3rem);
    }

    .grid .two-thirds:only-child {
        width: 66%;
        margin: 0 auto;
    }

    .grid > *:only-child {
        display: block;
        margin: 0 auto;
    }

    .grid p {
        width: 95%;
        margin: 1rem 0.6rem 1rem 0.6rem;

    }

    .button + .button {
        margin-left: 12px;
    }

    .hero .grid > * {
        padding: 64px 0;
    }
}

@media #{$tablet} {
  .grid .third {
      display: inline-block;
      vertical-align: top;
      margin: 0 auto;
      width: 30%;
      padding: 0.67rem;
  }

  .grid .third + .third {
      display: inline-block;
      vertical-align: top;
      margin: 0 auto;
      width: 30%;
      padding: 0.67rem;
  }

  .button {
      margin: 0.5rem auto;
  }

  .button + .button {
      margin-left: 0.5rem;
  }

  .grid p {
      width: 95%;
      margin: 1rem 0rem 1rem 1rem;
  }
}

@media #{$mobile} {
    .vexpand {
        height: calc(95vh - 14rem); /* I dunno magic numbers are magic */
    }

    .grid p {
        width: 100%;
        margin: 1rem 0;
    }

    .hero {
      text-align: center;
    }

    .hero .two-thirds {
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .grid .third {
        display: inline-block;
        vertical-align: top;
        width: 95%;
        padding-left: 0.8rem;
        padding-top: 1rem;
        margin: 0 auto;
    }

    .grid .third + .third {
        display: inline-block;
        vertical-align: top;
        width: 95%;
        padding-left: 0.8rem;
        padding-top: 1rem;
        margin: 0 auto;
    }

    h1 {
        display: inline-block;
        width: 95%;
    }

    h2 {
        width: 100%;
        font-size: 2.2rem;
    }

    .avatar {
        height: 15%;
        width: 15%;
    }

    .button {
        width: 75%;
    }

    .button + .button {
        margin-left: 0px;
    }
}
