---
---

@media (prefers-color-scheme: dark) {
    :root {
        --accent-500: #1e90ff;
        --fg-color: #fafafa;
        --bg-0-level: #111;
        --bg-1-level: #222;
        --bg-2-level: #333;
        --bg-3-level: #444;
        --border: 1px solid rgba(255, 255, 255, 0.1)
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-500: #70a1ff;
        --fg-color: #222;
        --bg-0-level: #fafafa;
        --bg-1-level: #ebebeb;
        --bg-2-level: #ddd;
        --bg-3-level: #ccc;
        --border: 1px solid rgba(0, 0, 0, 0.1)
    }
}

.light {
    --accent-500: #70a1ff;
    --fg-color: #222;
    --bg-0-level: #fafafa;
    --bg-1-level: #ebebeb;
    --bg-2-level: #ddd;
    --bg-3-level: #ccc;
    --border: 1px solid #222222
}

.dark {
    --accent-500: #1e90ff;
    --fg-color: #fafafa;
    --bg-0-level: #111;
    --bg-1-level: #222;
    --bg-2-level: #333;
    --bg-3-level: #444;
    --border: 1px solid rgba(255, 255, 255, 0.1)
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important
    }
}

html,body {
    overflow-x: hidden;
    font-feature-settings: 'kern' 1,'onum' 0,'liga' 0,'tnum' 1;
    color: var(--fg-color);
    background: var(--bg-0-level);
    margin: 0;
    font-family: sans-serif
}

h1,h2,h3,h4,h5 {
    margin: 3rem 0 1.38rem;
    font-weight: 400;
    line-height: 1.3
}

h1 {
    font-size: 3rem;
    margin-top: 10px
}

h2 {
    font-size: 3.157rem
}

h3 {
    font-size: 1.66rem
}

h4 {
    font-size: 1.777rem
}

h5 {
    font-size: 1rem;
    margin: 1rem auto
}

small,.text_small {
    font-size: 0.75rem
}

.att {
    text-decoration: var(--accent-500) underline
}

a {
    color: var(--fg-color);
    text-decoration: none;
    padding: 8px 20px;
    background: var(--bg-2-level);
    border-radius: 12px
}

a:hover {
    background: var(--accent-500);
    color: var(--bg-0-level)
}

.frame {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    pointer-events: none
}

.id-square {
    font-size: 1.8rem;
    font-weight: 900
}

.btn+.btn {
    margin-left: 10px
}

.badge {
    padding: 8px 20px;
    border: var(--border);
    display: inline-block
}

.badge+.badge {
    margin-left: 12px
}

.container {
    display: grid;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 95vh 47vh 47vh 6vh;
    gap: 0 0;
    grid-auto-flow: row dense;
    grid-template-areas: "header header header" "notejot emulsion dot-matrix" "khronos colorway others" "footer footer footer"
}

.container>* {
    padding: 100px 12px;
    text-align: center;
    place-items: center;
    margin: 18px;
    border-radius: 21px
}

.container p {
    font-size: 1rem
}

.header {
    grid-area: header;
    background: var(--bg-1-level);
    padding: 200px 50px;
    background-size: 16px 16px;
    border-radius: 0;
    margin: 0
}

.dark .header {
    background: var(--bg-0-level)
}

.notejot {
    grid-area: notejot;
    background: var(--bg-1-level)
}

.emulsion {
    grid-area: emulsion;
    background: var(--bg-1-level)
}

.dot-matrix {
    grid-area: dot-matrix;
    background: var(--bg-1-level)
}

.khronos {
    grid-area: khronos;
    background: var(--bg-1-level)
}

.colorway {
    grid-area: colorway;
    background: var(--bg-1-level)
}

.others {
    grid-area: others;
    background: var(--bg-1-level)
}

.footer {
    grid-area: footer;
    text-align: center;
    color: var(--fg-color);
    background: var(--bg-0-level);
    padding: 20px
}

.container-projects {
    display: grid;
    overflow-x: hidden;
    overflow-y: hidden;
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: 30vh 30vh 30vh 30vh 30vh 6vh;
    gap: 0 0;
    grid-auto-flow: row dense;
    grid-template-areas: "header-project header-project header-project" "quilter coin palaura" "yishu beemy timetable" "aesop niu rakugaki" "planitis blank blank" "footer-project footer-project footer-project"
}

.container-projects>* {
    padding: 50px 12px;
    text-align: center;
    place-items: center;
    margin: 18px;
    border-radius: 21px
}

.container-projects p {
    font-size: 1rem
}

.header-project {
    grid-area: header-project;
    background: var(--bg-1-level);
    background-size: 16px 16px;
    border-radius: 0;
    margin: 0;
    text-align: left;
}

.dark .header-project {
    background: var(--bg-0-level)
}

.quilter {
    grid-area: quilter;
    background: var(--bg-1-level)
}

.coin {
    grid-area: coin;
    background: var(--bg-1-level)
}

.palaura {
    grid-area: palaura;
    background: var(--bg-1-level)
}

.yishu {
    grid-area: yishu;
    background: var(--bg-1-level)
}

.beemy {
    grid-area: beemy;
    background: var(--bg-1-level)
}

.timetable {
    grid-area: timetable;
    background: var(--bg-1-level)
}

.aesop {
    grid-area: aesop;
    background: var(--bg-1-level)
}

.niu {
    grid-area: niu;
    background: var(--bg-1-level)
}

.rakugaki {
    grid-area: rakugaki;
    background: var(--bg-1-level)
}

.planitis {
    grid-area: planitis;
    background: var(--bg-1-level)
}

.blank {
    grid-area: blank;
    background: var(--bg-1-level)
}

.footer-project {
    grid-area: footer-project;
    text-align: center;
    color: var(--fg-color);
    background: var(--bg-0-level);
    padding: 20px
}

.notejot:hover {
    background: linear-gradient(135deg, #FFF, mix(#FFF, #816600, 80%));
}

.dot-matrix:hover {
    background: linear-gradient(135deg, #FFF, mix(#FFF, #75dec2, 80%));
}

.emulsion:hover {
    background: linear-gradient(135deg, #FFF, mix(#FFF, #007816, 80%));
}

.khronos:hover {
    background: linear-gradient(135deg, #FFF, mix(#FFF, #904db2, 80%));
}

.colorway:hover {
    background: linear-gradient(135deg, #FFF, mix(#FFF, #3742fa, 80%));
}

.dark .notejot:hover {
    background: linear-gradient(135deg, #111, mix(#111, #816600, 80%));
}

.dark .dot-matrix:hover {
    background: linear-gradient(135deg, #111, mix(#111, #75dec2, 80%));
}

.dark .emulsion:hover {
    background: linear-gradient(135deg, #111, mix(#111, #007816, 80%));
}

.dark .khronos:hover {
    background: linear-gradient(135deg, #111, mix(#111, #904db2, 80%));
}

.dark .colorway:hover {
    background: linear-gradient(135deg, #111, mix(#111, #3742fa, 80%));
}

.dark .notejot:hover,.dark .dot-matrix:hover,.dark .emulsion:hover,.dark .khronos:hover,.dark .colorway:hover {
    color: #2f3542
}

.dark .quilter:hover,.dark .coin:hover,.dark .palaura:hover,.dark .yishu:hover,.dark .aesop:hover,.dark .beemy:hover,.dark .niu:hover,.dark .timetable:hover,.dark .rakugaki:hover,.dark .planitis:hover {
    color: #2f3542
}

.cash {
    background: #2ed573;
    color: #2f3542
}

.cash:hover {
    background: #7bed9f;
    color: #2f3542
}

.merv:hover {
    background: #75dec2;
    color: #2f3542
}

.gh:hover {
    background: #2f3542
}

.follow:hover {
    background: #1e90ff
}

.download:hover {
    color: var(--bg-0-level)
}

@media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important
    }
}

@media (max-width: 425px) {
    .container {
        display:grid;
        width: 100vw;
        grid-template-columns: 100vw;
        grid-template-rows: 95vh 47vh 47vh 47vh 47vh 47vh 47vh 6vh;
        grid-template-areas: "header" "notejot" "emulsion" "dot-matrix" "khronos" "colorway" "others" "footer"
    }

    .btn+.btn {
        margin-left: 5px
    }

    .btn {
        padding: 5px 10px
    }

    h1 {
        font-size: 1.6rem
    }

    h2 {
        font-size: 1.2rem
    }

    h3 {
        font-size: 1rem
    }

    h4 {
        font-size: 1rem
    }

    h5 {
        font-size: 1rem
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .container {
        display:grid;
        grid-template-columns: repeat(3, minmax(163px, auto))
    }
}

.theme-toggle {
    color: var(--fg-color);
    border: transparent;
    background: var(--bg-2-level);
    position: fixed;
    right: 18px;
    top: 18px;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 999px
}

.theme-toggle:hover {
    background: var(--bg-2-level)
}

.theme-toggle .icon {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0.75rem;
    top: .75rem;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1)
}

.theme-toggle #icon-moon {
    display: block;
    color: #70a1ff
}

.theme-toggle #icon-sun {
    display: none;
    color: #ffa502
}

.dark .theme-toggle #icon-moon {
    display: none
}

.dark .theme-toggle #icon-sun {
    display: block
}

html {
    visibility: visible;
    opacity: 1
}
