---
---

@media (prefers-color-scheme: dark) {
    :root {
        --accent-100: #181c1c;
        --accent-300: #505F5E;
        --accent-500: #60C9C2;
        --accent-700: #BFE6E3;
        --accent-900: #E8F7F6;
        --fg-color: #f7f7f7;
        --bg-0-level: #000000;
        --bg-1-level: #151515;
        --bg-2-level: #666666;
        --bg-3-level: #888888;
        --border: rgba(255,255,255, 0.25);
    }

    .favs img {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --accent-100: #E8F7F6;
        --accent-300: #BFE6E3;
        --accent-500: #60C9C2;
        --accent-700: #505F5E;
        --accent-900: #181c1c;
        --fg-color: #151515;
        --bg-0-level: #ffffff;
        --bg-1-level: #f7f7f7;
        --bg-2-level: #eeeeee;
        --bg-3-level: #888888;
        --border: rgba(0,0,0, 0.25);
    }
}

.light {
        --accent-100: #E8F7F6;
        --accent-300: #BFE6E3;
        --accent-500: #60C9C2;
        --accent-700: #505F5E;
        --accent-900: #181c1c;
        --fg-color: #151515;
        --bg-0-level: #ffffff;
        --bg-1-level: #f7f7f7;
        --bg-2-level: #eeeeee;
        --bg-3-level: #888888;
        --border: rgba(0,0,0, 0.25);
}

.dark {
        --accent-100: #181c1c;
        --accent-300: #505F5E;
        --accent-500: #60C9C2;
        --accent-700: #BFE6E3;
        --accent-900: #E8F7F6;
        --fg-color: #f7f7f7;
        --bg-0-level: #000000;
        --bg-1-level: #151515;
        --bg-2-level: #666666;
        --bg-3-level: #888888;
        --border: rgba(255,255,255, 0.25);
        
        .favs img {
                filter: invert(1);
        }
}

@font-face {
    font-family: "InterV";
    src: url("../fonts/Inter.otf");
}

a.here::before {
    content: '/';
    color: #60C9C2;
    font-weight: 800;
}

body {
    height: 100%;
    font-weight: 400;
    font-size: 13pt;
    margin: 0;
    font-family: 'InterV', 'Inter', sans-serif;
    font-feature-settings: "liga" 1, "tnum";
    color: var(--fg-color);
    background: var(--bg-1-level);
    width: 100%;
}

.nav {
    background: var(--bg-0-level);
    color: var(--fg-color);
}

.theme-toggle {
    color: var(--fg-color);
    background-color: var(--bg-1-level);
}

