---
---

@media (max-width: 800px) {
    .grid-container {
        grid-template-columns:1fr;
        grid-template-rows: 200px 1fr;
        grid-template-areas: 'nav' 'body';
    }

    body p {
        font-size: 12pt;
        line-height: 20px;
        margin: 0.5rem auto;
    }

    .logo {
        margin-left: 6px;
    }

    .copyright {
        padding-bottom: 0rem;
        padding-left: 6px;
        transform: scale(0.8);
        grid-area: copyright;
    }

    .favs {
        transform: scale(0.6);
    }

    .nav {
        position: fixed;
        width: 100%;
        height: 64px;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        padding: 1rem 0;
        z-index: 999;
        grid-template-columns: 1fr 1fr min-content;
        grid-template-areas: 'logo header clock footer';
    }

    .nvcl {
        margin-left: 5px;
        height: 64%;
        padding: 12px;
    }

    .footer {
        height: 20%;
    }

    .body {
        width: 45ch;
    }

    .palcart {
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(5, 50px);
        grid-gap: 0;
    }

    .palette {
        width: 50px;
        height: 50px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .palette-name {
        visibility: hidden;
    }

    .header {
        background-color: #F0F8F4;
        z-index: 2;
        border-radius: 8px;
        border: 1px solid #B0E9E2;
        height: 48px;
        width: 48px;
        font-size: 2rem;
        margin-top: 10px;
        text-align: center;
    }

    .header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #F0F8F4
    }

    .header li a {
        display: block;
        padding: 6px 12px;
        border: 1px solid #B0E9E2;
        text-decoration: none;
        color: #151515;
        margin: 12px;
    }

    .header li a:hover {
        background-color: #B0E9E2
    }

    .header .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
        border: 1px solid #00000000;
        margin-top: 8px;
        position: relative;
        font-size: 1rem;
    }

    .header .menu hr {
        border: 1px solid #15151500;
        border-top: 1px solid #B0E9E2;
        padding: 0;
        margin: 0 auto;
    }

    .header .menu-icon {
        cursor: pointer;
        display: inline-block;
        padding: 4px;
        position: relative;
        user-select: none;
    }

    .header .menu-icon .navicon {
        display: inline-block;
        height: 2px;
        transition: background .2s ease-out;
    }

    .header .menu-btn {
        display: none;
    }

    .header .menu-btn:checked ~ .menu {
        max-height: max-content;
        border-radius: 8px;
        border: 1px solid #B0E9E2;
        width: max-content;
    }

    .menu-btn:checked ~ .header {
        max-width: max-content;
    }
}

@media (min-width: 801px) {
    .grid-container {
        grid-template-columns:280px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'nav body';
    }

    body p {
        font-size: 14pt;
        line-height: 25px;
        margin: 1rem auto;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    .logo {
        margin: 1rem;
    }

    .favs {
        transform: scale(1);
    }

    .copyright {
        padding-bottom: 1.5rem;
        transform: scale(1);
    }

    .nav {
        position: fixed;
        height: 100%;
        width: 200px;
        z-index: 999;
        padding: 0 1rem;
        border-right: 1px solid rgba(0,0,0,0.25);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto) max-content;
        grid-template-areas: 'logo' 'header' 'clock' 'footer';
    }

    .nav ul {
        list-style-type: none;
        margin: 1rem 0;
    }

    .nvcl {
        height: 30%;
    }

    .body {
        width: 80ch;
    }

    .palcart {
        grid-template-columns: repeat(10, 75px);
        grid-template-rows: repeat(7, 75px) min-content;
        grid-gap: 0;
    }

    .palette-name {
        border-radius: 8px;
        width: 75px;
        height: 75px;
        color: #151515;
        text-align: center;
        vertical-align: middle;
        line-height: 120px;
        font-family: monospace;
        font-weight: 700;
        font-size: 1.1rem;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .header .menu-btn {
        display: none;
    }

    .header .menu hr {
        display: none;
    }

    .header {
        float: left;
        width: 50%;
        padding: 0;
        margin: 0;
        margin-left: 30px;
    }

    .header li {
        padding: 12px;
        margin-right: 5px;
        margin-bottom: 5px;
        border-radius: 8px;
        border: 1px solid #B0E9E2;
    }

    .header li:hover {
        background: #B0E9E2;
    }

    .header li a {
        color: #151515;
        font-size: 0.88rem;
        text-transform: uppercase;
    }

    .header li:last-child {
        margin-top: 30px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    font-size: 1rem;
    margin: 0;
    font-family: sans-serif;
    color: #151515;
    background: #f7f7f7;
    width: 100%;
}

body h1 {
    font-size: 24pt;
    font-weight: 700;
    letter-spacing: -0.04em;
}

body h2 {
    font-weight: 300;
    font-size: 18pt;
    letter-spacing: -0.05em;
}

body h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

body h4 {
    font-weight: 700;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    margin: 0;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

body h5 {
    text-transform: uppercase;
}

body q {
    font-family: serif;
    font-size: 18pt;
    font-style: italic;
    display: inline-block;
}

body Q+h5 {
    display: inline-block;
}

body img {
    max-width: 100%;
}

body a.external {
    font-size: 1rem;
}

body a.external:after {
    content: "↗";
}

body hr {
    width: 100%;
}

body .body li:before {
    content: "–";
    margin-right: 6px;
    padding: 6px;
}

body .note {
    font-size: 1rem;
    color: #666;
}

a {
    color: #60C9C2;
    text-decoration: none;
    font-weight: 700;
}

a:visited {
    color: #60C9C2;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.palette {
    border-radius: 8px;
    width: 75px;
    height: 75px;
    color: #F7F7F7;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-family: monospace;
    border: 1px solid #00000040;
}

.palette-dark {
    color: #151515;
}

.palcart {
    display: grid;
    margin: 50px auto;
    width: max-content;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
}

.nav {
    display: grid;
    grid-area: nav;
    background: #F0F8F4;
    color: #151515
}

.nav img.logo {
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.35);
    box-shadow: inset 1px 0 0 0 rgba(255,255,255,0.07),
                inset -1px 0 0 0 rgba(255,255,255,0.07),
                0 1px 3px rgba(0,0,0,0.12),
                0 1px 2px rgba(0,0,0,0.24);
}

.nav .nvcl {
    grid-area: clock;
    border-radius: 8px;
    text-align: center;
    background: #B0E9E2;
    color: #151515;
    padding: 12px;
    display: inline-grid;
}

.logo {
    grid-area: logo;
}

.header {
    grid-area: header;
}

.body {
    grid-area: body;
    background: #f7f7f7;
    color: #242424;
    margin: auto;
}

.lp {
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    border: 1px solid lightgray;
}

.badge {
    padding: 0 1rem;
    border-left: 1px dashed #242424;
    margin-left: 1rem;
}

table {
    background-color: #f7f7f7;
    text-align: center;
    border-collapse: collapse;
    width: max-content;
}

table td {
    padding: 8px 6px;
    border-bottom: 1px solid #242424;
}

table thead {
    border-bottom: 2px solid #242424;
}

table thead th {
    padding: 3px 5px;
    font-weight: 700;
    color: #242424;
    text-align: center;
}

table thead th:first-child {
    border-left: none;
}

