/*
 * Keyframes
 */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .5;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.m-scene {
    .scene_element {
        animation-duration: 0.3s;
        transition-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    .scene_element--fadein {
        animation-name: fadeIn;
    }
    .scene_element--fadeinup {
        animation-name: fadeInUp;
    }
    .scene_element--fadeinright {
        animation-name: fadeInRight;
    }
    .scene_element--fadeinleft {
        animation-name: fadeInLeft;
    }
    .scene_element--fadeindown {
        animation-name: fadeInDown;
    }
    /** Reverse "exit" animations */
    &.is-exiting {
        .scene_element {
            animation-direction: alternate-reverse;
        }
    }
}