.avatar {
    color: $fg;
    background-color: $bg;
    box-sizing: border-box;
    @include box_shadow(2, rgba($fg, 0.5));
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}