/*****************
 *     BADGES    *
 *****************/

.badge {
  @include font($size: 16px, $weight: 500, $lh: 32px);
  background-color: transparent;
  border: 2px solid $chip;
  border-radius: 8%;
  color: $badge;
  display: inline;
  left: -5px;
  margin-left: 16px;
  margin-bottom: 0px;
  width: 50px;
  height: 50px;
  position: relative;
  line-height: 50px;
  padding: 8px;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $badge;
    border: 2px solid $badge;
    color: $badge-text;
  }
}

.badge-success {
  &:hover {
    background-color: $badge-success-hover;
    border: 2px solid $badge-success-hover;
    color: $badge-text;
  }
}

.badge-info {
  &:hover {
    background-color: $badge-info-hover;
    border: 2px solid $badge-info-hover;
    color: $badge-text;
  }
}
