/*****************
 *     BADGES    *
 *****************/

.badge {
  @include font($size: 13px, $weight: 700, $lh: 32px);
  background-color: transparent;
  border: 1px solid $badge;
  border-radius: 2px;
  color: $badge;
  display: inline;
  margin-left: 12px;
  padding: 6px 8px;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $badge;
    border: 1px solid $badge;
    color: $badge-text;
  }
}

.badge-success {
  &:hover {
    background-color: $badge-success-hover;
    border: 1px solid $badge-success-hover;
    color: $badge-text;
  }
}

.badge-info {
  &:hover {
    background-color: $badge-info-hover;
    border: 1px solid $badge-info-hover;
    color: $badge-text;
  }
}
