/*****************
 * GENERAL STUFF *
 *****************/
* {
  box-sizing: inherit;

  &:after {
    @include box-sizing(border-box);
  }

  &:before {
    @include box-sizing(border-box);
  }
}

body,
html {
  @include font($size: 1.1rem, $weight: 400);
  -webkit-font-smoothing: antialiased;
  color: $fg;
  display: grid;
  grid-column: 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  z-index: 1;
}

.bg {
  background-color: darken($bg, 5%);
  box-shadow: 0 -1px 3px rgba(60,64,67,0.2), 0 -1px 2px rgba(60,64,67,0.2);
  display: grid;
  grid-column: 1;
  padding: 3.3rem 0;
  width: 100%;
  z-index: 1;
}

.link {
  color: $link;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }
}

.animated {
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

img {
  max-width: 100%;
}

.shadow {
  @include box-shadow(1, rgba($fg,0.2));
}

.footer-shadow {
  @include box-shadow(-2, rgba($fg,0.2));
}

.header {
  @include font($size: 2.28rem, $weight: 700, $lh: 2rem);
}

.logo {
  display: inline-block;
  margin: -5px 5px 0;
  vertical-align: middle;
}

.logo-mobile {
  margin: -45px 10px 0;
  vertical-align: middle;
}

.left {
  float: left;
  text-align:left;
}

.right {
  float: right;
  text-align:right;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 315px;
  margin: -100px 0 0 -50px;
  padding: 55px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.open {
  visibility: hidden;
}
.closed {
  visibility: visible;
}

@media screen and (max-width: 425px) {
  .open {
    visibility: visible;
  }
  .closed {
    visibility: hidden;
  }
}

.value-00 { width: 0; }
.value-10 { width: 10%; }
.value-20 { width: 20%; }
.value-30 { width: 30%; }
.value-40 { width: 40%; }
.value-50 { width: 50%; }
.value-60 { width: 60%; }
.value-70 { width: 70%; }
.value-80 { width: 80%; }
.value-90 { width: 90%; }
.value-100 { width: 100%; }

.waves-effect {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: .3s ease-out;
  -webkit-user-select: none;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: .3s ease-out;
  user-select: none;
  vertical-align: middle;
  z-index: 1
}

.waves-effect .waves-ripple {
  -webkit-transform: scale(0);
  -webkit-transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  transition: all 0.7s ease-out;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  width: 20px;
}

.waves-effect.waves-light .waves-ripple {
  background-color: #ffffff73;
}

.waves-effect.waves-red .waves-ripple {
  background-color: #f44336b3;
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: #ffeb3bb3;
}

.waves-effect.waves-orange .waves-ripple {
  background-color: #ff9800b3;
}

.waves-effect.waves-purple .waves-ripple {
  background-color: #9c27b0b3;
}

.waves-effect.waves-green .waves-ripple {
  background-color: #4caf50b3;
}

.waves-effect.waves-teal .waves-ripple {
  background-color: #009688b3;
}

.waves-effect input[type="button"],.waves-effect input[type="reset"],.waves-effect input[type="submit"] {
  background: none;
  border: 0;
  font-size: inherit;
  font-style: normal;
  text-transform: inherit
}

.waves-effect img {
  position: relative;
  z-index: -1
}

.waves-notransition {
  -webkit-transition: none !important;
  transition: none !important
}

.waves-circle {
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  mask-image: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.waves-input-wrapper {
  border-radius: 0.2em;
  vertical-align: bottom
}

.waves-input-wrapper .waves-button-input {
  left: 0;
  position: relative;
  top: 0;
  z-index: 1
}

.waves-circle {
  -webkit-mask-image: none;
  mask-image: none;
  border-radius: 50%;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  width: 2.5em
}

.waves-block {
  display: block
}

.waves-effect .waves-ripple {
  z-index: -1
}
