/*****************
 *     RESET     *
 *****************/

*           { margin:0;padding:0;border:0;outline:0;border-spacing:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:collapse;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
*:focus     { outline: none}

/*****************
 * GENERAL STUFF *
 *****************/
* {
  box-sizing: inherit;

  &:after {
    @include box-sizing(border-box);
  }

  &:before {
    @include box-sizing(border-box);
  }
}

body,
html {
  @include font($size: 1.1rem, $weight: 400);
  -webkit-font-smoothing: antialiased;
  color: $fg;
  display: grid;
  grid-column: 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  z-index: 1;
}

.bg {
  background-color: darken($bg, 5%);
  box-shadow: 0 -1px 3px rgba(60,64,67,0.2), 0 -1px 2px rgba(60,64,67,0.2);
  display: grid;
  grid-column: 1;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 2rem 0.5rem;
  max-width: 100vw;
  z-index: 1;
}

.card {
  border: 1px $outline solid;
  border-radius: 8px;
  background: $card-body;
}

.card-header {
    background-color: darken($card-body, 30%);
    border-radius: 8px;
    text-align: center;
    grid-row: 1;
    grid-column: 1 / 6;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto 50px;

  & h5 {
    color: $fg;
  }
}

@media screen and (max-width:500px) {
  .card-header {
    grid-row: 1;
    grid-column: 1;
    max-height: 20vh;
    padding: 100px;
  }
}

@media screen and (min-width:501px) and (max-width:1023px) {
  .card-header {
    grid-row: 1;
    grid-column: 1 / 3;
    max-height: 30vh;
    padding: 100px;
  }
}

.card-body,
.card-action {
  padding: 15px;
}

.card-body {
  height: 200px;
}

.card-text {
  display: block;
  height: 75px;
  padding: 24px 0;
}

.card-action {
  background-color: darken($bg, 5%);
  border-radius: 0px 0px 8px 8px;
  height: 100px;
  border-top: 1px $outline solid;
}

.card-action p {
  margin: 15px 0;
  position: relative;
}

.card-title {
  @include medium-font($size: 1rem, $weight: 400, $color: $fg);
  padding: 240px 40px;
  vertical-align: middle;
}

.card-subtitle {
  @include font($size: 1rem, $weight: 700, $color: $fg);
  padding: 15px 0;
}

.button {
  border: 3px $outline solid;
  color: $fg;
  border-radius: 8px;
  padding: 8px;
  margin: 0 0 0 5px;

  & i {
    margin-right: 8px;
  }

  &:hover {
    background: $outline;
    color: $bg;
  }

  &.patreon {
    background-color: $patreon;
    border: 3px $patreon solid;
    color: $bg;

    &:hover {
      background: lighten($patreon, 5%);
      border: 3px lighten($patreon, 5%) solid;
      color: $bg;
    }
  }

  &.twitter {
    &:hover {
      background: lighten($twitter, 5%);
      border: 3px lighten($twitter, 5%) solid;
      color: $bg;
    }
  }
}

.card-image {
  border-radius: 8px 8px 0 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid $outline;
  left: 0;
  padding: 1.8rem 0;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;

  &.card-flair-aesop {
    border-top: 8px solid $aesop;
    background-image: linear-gradient(0deg, $aesop, rgba($aesop, 0.3)), url(https://github.com/lainsce/aesop/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-notejot {
    border-top: 8px solid $notejot;
    background-image: linear-gradient(0deg, $notejot, rgba($notejot, 0.3)), url(https://github.com/lainsce/notejot/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-quilter {
    border-top: 8px solid $quilter;
    background-image: linear-gradient(0deg, $quilter, rgba($quilter, 0.3)), url(https://github.com/lainsce/quilter/raw/master/data/images/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-coin {
    border-top: 8px solid $coin;
    background-image: linear-gradient(0deg, $coin, rgba($coin, 0.3)), url(https://github.com/lainsce/coin/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-palaura {
    border-top: 8px solid $palaura;
    background-image: linear-gradient(0deg, $palaura, rgba($palaura, 0.3)), url(https://github.com/lainsce/palaura/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-yishu {
    border-top: 8px solid $yishu;
    background-image: linear-gradient(0deg, $yishu, rgba($yishu, 0.3)), url(https://github.com/lainsce/yishu/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-beemy {
    border-top: 8px solid $beemy;
    background-image: linear-gradient(0deg, lighten($beemy, 40%), rgba(lighten($beemy, 40%), 0.3)), url(https://github.com/lainsce/beemy/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-timetable {
    border-top: 8px solid $timetable;
    background-image: linear-gradient(0deg, lighten($timetable, 40%), rgba(lighten($timetable, 40%), 0.3)), url(https://github.com/lainsce/timetable/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-dotmatrix {
    border-top: 8px solid $dotmatrix;
    background-image: linear-gradient(0deg, lighten($dotmatrix, 25%), rgba(lighten($dotmatrix, 25%), 0.3)), url(https://github.com/lainsce/dot-matrix/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }

  &.card-flair-reganam {
    border-top: 8px solid $reganam;
    background-image: linear-gradient(0deg, lighten($reganam, 40%), rgba(lighten($reganam, 40%), 0.3)), url(https://github.com/lainsce/reganam/raw/master/data/shot.png);
    background-position: top;
    background-size: cover;
  }
}

.nav-bar {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-shadow: 0 1px 3px rgba(60,64,67,0.2), 0 1px 2px rgba(60,64,67,0.2);
  background-color: darken($bg, 5%);
  z-index: 2;
}

.nav-icon {
  float: left;
  margin: 15px;
  width: 32px;
  height: 32px;
  padding: 5px;
}

.nav-icon:hover {
  background: $outline;
  color: $bg;
}

.hero {
  height: 55vh;
  max-width: 100vw;

  &:before {
    background-attachment: fixed;
    background-color: #fff;
    background-image: linear-gradient(rgba($bg,.7),rgba($bg,.5),rgba($bg,1)), url(https://images.unsplash.com/photo-1521334729279-b178069c8157?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=048d4c4fa407c6788f08d965735f60f3&auto=format&fit=crop&w=1347&q=80);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    will-change: transform;
    z-index: -1;
  }
}

.hero-content {
  display: grid;
  grid-column: 1;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  max-width: 100vw;
  margin-top: 1rem;
  z-index: 1;
}

.link {
  color: $link;

  &:hover {
    color: $link-hover;
  }

  &:active {
    color: $link-active;
  }
}

.animated {
  transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

img {
  max-width: 100vw;
}

.shadow {
  @include box-shadow(1, rgba($fg,0.2));
}

.footer {
  @include font($size: .8rem, $weight: 400, $lh: .8rem);
  background-color: $fg;
  box-shadow: 0 -1px 3px rgba(60,64,67,0.2), 0 -1px 2px rgba(60,64,67,0.2);
  box-sizing: border-box;
  color: $bg;
  padding: 0.98rem;
  height: 25vh;
  position: relative;
  text-align: center;
  max-width: 100vw;
  z-index: 2;
}

.footer-shadow {
  @include box-shadow(-2, rgba($fg,0.2));
}

.header {
  @include font($size: 2.28rem, $weight: 700, $lh: 2rem);
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.left {
  float: left;
  text-align:left;
}

.center {
  float: center;
  text-align:center;
}

.right {
  float: right;
  text-align:right;
}
