/********************
*     BUTTON       *
********************/

.button {
  @include font($size: .9rem, $weight: 500);
  border-radius: 8px;
  display: inline-block;
  margin: 1rem 0;
  min-width: 100px;
  padding: .8rem;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;

  & .fas,.fab {
    margin-right: 8px;
  }

  &.success {
    background-color: $button-success;
    background-image: none;
    box-shadow: none;
    color: $card;

    &:hover {
      background-color: $button-success-hover;
      color: $card;
      @include box-shadow(3, rgba($fg,0.2));
    }

    &:active {
      background-color: $button-success-active;
      background-image: none;
      color: $card;
    }
  }

  &.info {
    background-color: $button-info;
    background-image: none;
    box-shadow: none;
    color: $card;

    &:hover {
      background-color: $button-info-hover;
      color: $card;
      @include box-shadow(3, rgba($fg,0.2));
    }

    &:active {
      background-color: $button-info-active;
      background-image: none;
      color: $card;
    }
  }

  &.patreon {
    background-color: $button-patreon;
    border-color: transparent;
    box-shadow: none;
    color: $fg;

    &:hover {
      background-color: $button-patreon;
      color: $card;
      @include box-shadow(3, rgba($fg,0.2));
    }

    &:active {
      background-color: $button-patreon-active;
      background-image: none;
      color: $card;
    }
  }

  &.ghost {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($fg, .5);
    box-shadow: none;
    color: $fg;

    &:hover {
      background-color: $button-ghost;
      background-image: none;
      color: $card;
      @include box-shadow(3, rgba($fg,0.2));
    }

    &:active {
      background-color: $button-ghost-active;
      background-image: none;
      color: $card;
    }
  }

  &.ghost-night {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($bg, .5);
    box-shadow: none;
    color: $fg;

    &:hover {
      background-color: $button-ghost-night;
      background-image: none;
      color: $fg;
      @include box-shadow(3, rgba($fg,0.2));
    }

    &:active {
      background-color: $button-ghost-night-active;
      background-image: none;
      color: $fg;
    }
  }

  &.ghost-twitter {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($bg, .75);
    box-shadow: none;
    color: $card;

    &:hover {
      background-color: $button-info;
      background-image: none;
      border: 2px solid rgba($button-info, .75);
      color: $card;
      @include box-shadow(3, rgba($fg,0.2));
    }

    &:active {
      background-color: $button-info-active;
      background-image: none;
      border: 2px solid rgba($button-info-active, .75);
      color: $card;
    }
  }

  &.ghost-success {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($button-success, .75);
    box-shadow: none;
    color: $card;

    &:hover {
      background-color: $button-success;
      background-image: none;
      color: $card;
      @include box-shadow(3, rgba($fg,0.2));
    }

    &:active {
      background-color: $button-success-active;
      background-image: none;
      color: $card;
    }
  }
}

.button + .button {
  margin-left: 12px;
}

.footer-button {
  @include font($size: .7rem);
  padding: .4rem;

  &:hover {
    background-image: none;
    color: $card;
    @include box-shadow(3, rgba($fg,0.2));
  }

  &:active {
    background-image: none;
    color: $card;
  }
}
