/********************
*     BUTTON       *
********************/

.button {
  @include font($size: .9rem, $weight: 700);
  border-radius: 0.5rem;
  display: inline-block;
  margin: 1rem 0;
  min-width: 100px;
  padding: .8rem;
  text-align: center;
  text-transform: uppercase;

  & .fas,.fab {
    margin-right: 8px;
  }

  &.success {
    background-color: $button-success;
    background-image: none;
    border: 2px solid $button-success;
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(0 3px 6px 0 rgba($button-success-hover, .5));
      background-color: $button-success-hover;
      border: 2px solid $button-success-hover;
      color: $bg;
    }

    &:active {
      @include box-shadow(0 3px 6px 0 rgba($button-success-active, .5));
      background-color: $button-success-active;
      background-image: none;
      border: 2px solid $button-success-active;
      color: $bg;
    }
  }

  &.info {
    background-color: $button-info;
    background-image: none;
    border: 2px solid $button-info;
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(0 3px 6px 0 rgba($button-info-hover, .5));
      background-color: $button-info-hover;
      border: 2px solid $button-info-hover;
      color: $bg;
    }

    &:active {
      @include box-shadow(0 3px 6px 0 rgba($button-info-active, .5));
      background-color: $button-info-active;
      background-image: none;
      border: 2px solid $button-info-active;
      color: $bg;
    }
  }

  &.kofi {
    background-color: $button-kofi;
    border-color: transparent;
    border: 2px solid $button-kofi;
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(0 3px 6px 0 rgba($button-kofi-hover, .5));
      background-color: $button-kofi-hover;
      border: 2px solid $button-kofi-hover;
      color: $bg;
    }

    &:active {
      @include box-shadow(0 3px 6px 0 rgba($button-kofi-active, .5));
      background-color: $button-kofi-active;
      background-image: none;
      border: 2px solid $button-kofi-active;
      color: $bg;
    }
  }

  &.ghost {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($fg, .5);
    box-shadow: none;
    color: $fg;

    &:hover {
      @include box-shadow(0 3px 7px rgba($button-ghost, .5));
      background-color: $button-ghost;
      background-image: none;
      border: 2px solid transparent;
      color: $bg;
    }

    &:active {
      @include box-shadow(0 3px 7px rgba($button-ghost-active, .5));
      background-color: $button-ghost-active;
      background-image: none;
      border: 2px solid transparent;
      color: $bg;
    }
  }

  &.ghost-night {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($bg, .5);
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(0 3px 7px rgba($button-ghost-night, .5));
      background-color: $button-ghost-night;
      background-image: none;
      border: 2px solid transparent;
      color: $fg;
    }

    &:active {
      @include box-shadow(0 3px 7px rgba($button-ghost-night-active, .5));
      background-color: $button-ghost-night-active;
      background-image: none;
      border: 2px solid transparent;
      color: $fg;
    }
  }

  &.ghost-twitter {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($bg, .5);
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(0 3px 7px rgba($button-info, .5));
      background-color: $button-info;
      background-image: none;
      border: 2px solid transparent;
      color: $bg;
    }

    &:active {
      @include box-shadow(0 3px 7px rgba($button-info-active, .5));
      background-color: $button-info-active;
      background-image: none;
      border: 2px solid transparent;
      color: $bg;
    }
  }

  &.ghost-success {
    background-color: transparent;
    background-image: none;
    border: 2px solid rgba($bg, .5);
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(0 3px 7px rgba($button-success, .5));
      background-color: $button-success;
      background-image: none;
      border: 2px solid transparent;
      color: $bg;
    }

    &:active {
      @include box-shadow(0 3px 7px rgba($button-success-active, .5));
      background-color: $button-success-active;
      background-image: none;
      border: 2px solid transparent;
      color: $bg;
    }
  }
}

.button + .button {
  margin-left: 12px;
}

.footer-button {
  @include font($size: .7rem);
  padding: .4rem;
}
