/********************
*     BUTTON       *
********************/

.button {
  @include font($size: .9rem, $weight: 700);
  @include box_shadow(1, rgba($fg, 0.5));
  border-radius: .5rem;
  display: inline-block;
  margin: 1rem 0;
  min-width: 100px;
  padding: .8rem;
  text-align: center;
  text-transform: uppercase;

  & .fas,.fab {
    margin-right: 8px;
  }

  &.success {
    background-color: $button-success;
    background-image: none;
    @include box_shadow(1, rgba($fg, 0.5));
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-success-hover;
      color: $bg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-success-active;
      background-image: none;
      color: $bg;
    }
  }

  &.info {
    background-color: $button-info;
    background-image: none;
    @include box_shadow(1, rgba($fg, 0.5));
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-info-hover;
      color: $bg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-info-active;
      background-image: none;
      color: $bg;
    }
  }

  &.kofi {
    background-color: $button-kofi;
    border-color: transparent;
    @include box_shadow(1, rgba($fg, 0.5));
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-kofi-hover;
      color: $bg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-kofi-active;
      background-image: none;
      color: $bg;
    }
  }

  &.patreon {
    background-color: $button-patreon;
    border-color: transparent;
    @include box_shadow(1, rgba($fg, 0.5));
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-patreon-hover;
      color: $bg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-patreon-active;
      background-image: none;
      color: $bg;
    }
  }

  &.ghost {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $fg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-ghost;
      background-image: none;
      color: $bg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-ghost-active;
      background-image: none;
      color: $bg;
    }
  }

  &.ghost-night {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-ghost-night;
      background-image: none;
      color: $fg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-ghost-night-active;
      background-image: none;
      color: $fg;
    }
  }

  &.ghost-twitter {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-info;
      background-image: none;
      color: $bg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-info-active;
      background-image: none;
      color: $bg;
    }
  }

  &.ghost-success {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    color: $bg;

    &:hover {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-success;
      background-image: none;
      color: $bg;
    }

    &:active {
      @include box-shadow(2, rgba($fg, .5));
      background-color: $button-success-active;
      background-image: none;
      color: $bg;
    }
  }
}

.button + .button {
  margin-left: 12px;
}

.footer-button {
  @include font($size: .7rem);
  @include box_shadow(1, rgba($fg, 0.5));
  padding: .4rem;

  &:hover {
    @include box-shadow(2, rgba($fg, .5));
    background-image: none;
    color: $bg;
  }

  &:active {
    @include box-shadow(2, rgba($fg, .5));
    background-image: none;
    color: $bg;
  }
}
