/*****************
 *     CARDS     *
 *****************/

.card {
  border-radius: 16px;
  line-height: 1.5;
  background-color: $card;
}

.circle {
    border: 1px solid $badge;
    background-color: $badge;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    max-width: 100%;
    max-height: 100%;
    margin: 10px 5px -25px -5px;
    object-fit: cover;
    overflow-y: hidden;
}

.book {
    border: 1px solid $badge;
    background-color: $badge;
    border-radius: 20%;
    width: 70px;
    height: 90px;
    margin: 10px 5px -25px -5px;
    object-fit: cover;
    overflow-y: hidden;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
}

.card-title {
  @include font($size: 2.5rem, $color: $fg, $weight: 400);
}

.card-subtitle {
  @include font($size: 1.5rem, $color: $fg, $weight: 400);
  text-align: left;
}

.card-text {
  @include font($size: 1.0rem, $color: $fg, $weight: 400);
  text-align: left;
}

.card-title-night {
  @include font($size: 2.5rem, $color: $bg, $weight: 400);
}

.card-subtitle-night {
  @include font($size: 1.5rem, $color: $bg, $weight: 400);
}

.card-text-night {
  @include font($size: 1.0rem, $color: $bg, $weight: 400);
}

.card-image {
    display: block;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 2rem 0 2rem 0;
    border-bottom: 1px solid rgba(160,160,160,0.4);
    border-radius: 16px 16px 0 0;
}

.card-image-big {
    display: block;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    border-bottom: 1px solid rgba(160,160,160,0.4);
    border-radius: 16px 16px 0 0;
}

.card-image-big img {
  width: 60%;
  height: 60%;
}

.card-action {
  position: relative;
  background-color: transparent;
  border-top: 1px solid rgba(160,160,160,0.4);
  padding: 16px 1.5rem;
  text-align: left;
  border-radius: 0 0 16px 16px;
  @include font($size: 1.0rem, $weight: 400);
}

.card-action .fa {
  margin-right: 8px;
}

.card-body {
  padding: 1.5rem;
}

.card-badge {
  text-align: justify;
}

.card-chip {
  text-align: justify;
}

.card-image.card-image-background {
  @include linear-gradient(160deg, $card-background-2 0%, $card-background-1 100%);
}

.card-image-big.card-image-background {
  @include linear-gradient(160deg, $background-1 0%, $background-2 100%);
}

.card-skillbar {
  text-align: right;
  padding-right: 20px;
  line-height: 35px;
  color: $bg;
  width: 50%;
  background-color: $card-skillbar;
  border-radius: 16px;
}

.card-stars {
  color: $card-stars;
}
