/*****************
*     CARDS     *
*****************/

.card {
  background-color: $card;
  border-radius: 1rem;
  line-height: 1.5;
  margin-left: 15px;
  margin-right: 15px;
}

.card-alone {
  margin-right: 0;
}

.circle {
  background-color: $badge;
  border: 1px solid $badge;
  border-radius: 50%;
  height: 70px;
  margin: 10px 5px -25px -5px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  overflow-y: hidden;
  width: 70px;
}

.book {
  background-color: $badge;
  border: 1px solid $badge;
  border-radius: 15%;
  bottom: -100%;
  height: 90px;
  left: -100%;
  margin: 10px 5px -25px -5px;
  object-fit: cover;
  overflow-y: hidden;
  right: -100%;
  top: -100%;
  width: 70px;
}

.card-title {
  @include font($size: 2.5rem, $color: $fg, $weight: 400);
}

.card-subtitle {
  @include font($size: 1.5rem, $color: $fg, $weight: 400);
}

.card-text {
  @include font($size: 1rem, $color: $fg, $weight: 400);
  text-align: left;
}

.card-title-night {
  @include font($size: 2.5rem, $color: $bg, $weight: 400);
}

.card-subtitle-night {
  @include font($size: 1.5rem, $color: $bg, $weight: 400);
}

.card-text-night {
  @include font($size: 1rem, $color: $bg, $weight: 400);
}

.card-image {
  border-bottom: 1px solid rgba(160, 160, 160, .4);
  border-radius: 1rem 1rem 0 0;
  bottom: 0;
  display: block;
  left: 0;
  padding: 2rem 0;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;

  &.card-image-background-coin {
    @include linear-gradient(150deg, $card-background-coin 0%, darken($card-background-coin, 10%) 100%);
  }
  &.card-image-background-notejot {
    @include linear-gradient(150deg, $card-background-notejot 0%, darken($card-background-notejot, 10%) 100%);
  }
  &.card-image-background-palaura {
    @include linear-gradient(150deg, $card-background-palaura 0%, darken($card-background-palaura, 10%) 100%);
  }
  &.card-image-background-quilter {
    @include linear-gradient(150deg, $card-background-quilter 0%, darken($card-background-quilter, 10%) 100%);
  }
}

.card-image-big {
  border-bottom: 1px solid rgba(160, 160, 160, .4);
  border-radius: 1rem 1rem 0 0;
  bottom: 0;
  display: block;
  left: 0;
  padding: 1rem 0;
  position: relative;
  right: 0;
  text-align: center;
  top: 0;

  &.card-image-background-coin {
    @include linear-gradient(150deg, $card-background-coin 0%, darken($card-background-coin, 15%) 100%);
  }
  &.card-image-background-notejot {
    @include linear-gradient(150deg, $card-background-notejot 0%, darken($card-background-notejot, 15%) 100%);
  }
  &.card-image-background-palaura {
    @include linear-gradient(150deg, $card-background-palaura 0%, darken($card-background-palaura, 15%) 100%);
  }
  &.card-image-background-quilter {
    @include linear-gradient(150deg, $card-background-quilter 0%, darken($card-background-quilter, 15%) 100%);
  }
}

.card-inside-img {
  height: 60%;
  width: 60%;
}

.card-action {
  @include font($size: .9rem, $weight: 400);
  background-color: $background-3;
  border-radius: 0 0 1rem 1rem;
  border-top: transparent;
  padding: 1rem 1.5rem;
  position: relative;
  text-align: left;

  &.fa {
    margin-right: 8px;
  }
}

.card-body {
  padding: 1.5rem;
}

.card-badge {
  text-align: justify;
}

.card-chip {
  text-align: justify;
}

.card-skillbar {
  background-color: $card-skillbar;
  border-radius: 1rem;
  color: $bg;
  line-height: 35px;
  padding-right: 20px;
  text-align: right;
}

.card-stars {
  color: $card-stars;
}
