/*****************
*     CHIPS    *
*****************/
.chip {
  @include font($size: 13px, $weight: 700, $lh: 32px);
  background-color: $chip;
  border-radius: 1rem;
  color: $fg;
  display: inline-block;
  height: 32px;
  margin: 2px;
  padding: 0 12px;

  & img {
    border-radius: 50%;
    float: left;
    height: 32px;
    margin: 0 8px 0 -12px;
    width: 32px;
  }
}
