/********************
*       FAB        *
********************/

.faba {
  background-color: transparent;
  background-image: none;
  border: 2px solid rgba($fg, .5);
  border-radius: 100%;
  box-shadow: none;
  color: $fg;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  list-style: none;
  margin: 6px;
  text-align: center;
  width: 38px;

  & .fas.fa-lg,.fab.fa-lg {
    line-height: 1em;
    vertical-align: -0.12em;
  }

  &.github {
    &:hover {
      @include box-shadow(2, rgba($fab-github, .5));
      background-color: $fab-github;
      border: 2px solid $fab-github;
    }
  }

  &.mail {
    &:hover {
      @include box-shadow(2, rgba($fab-mail, .5));
      background-color: $fab-mail;
      border: 2px solid $fab-mail;
    }
  }

  &.twitter {
    &:hover {
      @include box-shadow(2, rgba($fab-twitter, .5));
      background-color: $fab-twitter;
      border: 2px solid $fab-twitter;
    }
  }

  &.gplus {
    &:hover {
      @include box-shadow(2, rgba($fab-gplus, .5));
      background-color: $fab-gplus;
      border: 2px solid $fab-gplus;
    }
  }

  &.medium {
    &:hover {
      @include box-shadow(2, rgba($fab-medium, .5));
      background-color: $fab-medium;
      border: 2px solid $fab-medium;
    }
  }

  &.telegram {
    &:hover {
      @include box-shadow(2, rgba($fab-telegram, .5));
      background-color: $fab-telegram;
      border: 2px solid $fab-telegram;
    }
  }

  &.patreon {
    &:hover {
      @include box-shadow(2, rgba($fab-patreon, .5));
      background-color: $fab-patreon;
      border: 2px solid $fab-patreon;
    }
  }

  &>a {
    color: $fg;
    display: block;
    height: 100%;
    width: 100%;

    &:hover {
      color: $fab-icon;
    }
  }
}

.fab-alone {
   width: 56px;
   height: 56px;
   background-color: $fg;
   border-radius: 100%;
   display: inline-block;

   font-size: 1.5rem;
   color: $fab-icon;
   text-align: center;
   line-height: 56px;

   position: absolute;
   right: 15px;
   bottom: -24px;

   @include box_shadow(1, rgba($fg, 0.5));

   &:hover {
      transform: scale(1.08);
      transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
      @include box_shadow(2, rgba($fg, 0.5));
   }

   & a {
      color: $fab-icon;
      margin: auto;
   }

   &.fab-alone-home {
      background-color: $fab-gplus;
   }

   &.fab-alone-quilter {
      background-color: darken($card-background-quilter, 50%);
   }

   &.fab-alone-coin {
      background-color: darken($card-background-coin, 40%);
   }

   &.fab-alone-palaura {
      background-color: darken($card-background-palaura, 40%);
   }

   &.fab-alone-notejot {
      background-color: darken($card-background-notejot, 50%);
   }

   &.fab-alone-yishu {
      background-color: darken($card-background-yishu, 50%);
   }
}
