/********************
*     FOOTER       *
********************/

.footer {
  @include font($size: .8rem, $weight: 400, $lh: .8rem);
  background-color: $card-body;
  box-shadow: 0 -1px 3px rgba(60,64,67,0.2), 0 -1px 2px rgba(60,64,67,0.2);
  box-sizing: border-box;
  color: $fg;
  display: grid;
  grid-column: 1;
  height: 100%;
  padding: 1.1rem 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.footer-black {
  @include font($size: .8rem, $weight: 400, $lh: .8rem);
  box-sizing: border-box;
  color: $bg;
  display: grid;
  grid-column: 1;
  height: 100%;
  padding: 1.1rem 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.footer-space {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
