/******************
*      HERO      *
******************/

.hero {
  align-items: center;
  display: flex;
  height: 65vh;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &:before {
    background: #000;
    background-image: url("/img/hero.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    filter: brightness(40%);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}
