/******************
 *      HERO      *
 ******************/

 .hero {
     align-items: center;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     display: flex;
     height: 65vh;
     position: relative;
     overflow: hidden;

   &::before {
    background: #000;
    background-image: url("/img/hero.jpg");
    filter: brightness(40%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    content: '';
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }
}
