/******************
*      HERO      *
******************/

.hero {
  align-items: center;
  display: flex;
  flex: 1;
  height: 63vh;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &:before {
    background-color: $hero;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }

  &.hero-apps {
    background-color: $hero-apps;
  }

  &.hero-ideas {
    background-color: $hero-ideas;
  }

  &.hero-about {
    background-color: $hero-about;
  }
}
