/*******************
*       NAV       *
******************/

.nav {
  @include font($size: 1.1rem, $weight: 500, $lh: 2.8rem);
  background-color: $nav;
  height: 3.25rem;
  outline: none;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 0;

  &.fixed-top {
    left: 0;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    border-bottom: 3px solid rgba($bg-tab, .75);
  }

  &:focus {
    outline: none;
  }
}

.nav-icon {
  @include font($size: .875rem, $weight: 500, $color: $fg, $lh: 3rem);
  display: inline-block;
  margin: 0;
  margin-left: -5px;

  &:hover {
    border-bottom: 3px solid rgba($button-info, .75);
    background-color: rgba($card, 0.5);
    transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }

  &.active {
    border-bottom: 3px solid rgba($card-action, .75);
    background-color: rgba($card, 0.5);
    transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }
}

.nav-bar {
  position: absolute;
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
}

.nav-link {
  @include font($color: $fg);
  padding: .13rem 1.3rem;
}
