/*******************
*       NAV       *
******************/

.nav {
  @include font($size: 1.2rem, $weight: 400, $lh: 3.2rem);
  background-color: transparent;
  background-image: none;
  display: inline-block;
  height: 3.25rem;
  outline: none;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 999;

  &.fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  &:focus {
    outline: none;
  }
}

.nav-icon {
  @include font($size: .9rem, $weight: 700, $color: $bg, $lh: 3rem);
  display: inline-block;
  margin: 0 2px;
  padding: 0 .4rem;

  &:hover {
    background-color: rgba(255, 255, 255, .25);
  }
}

.nav-bar {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  @include font($color: $bg);
  padding: 0 .6rem;
}
