/*******************
*       NAV       *
******************/

.nav {
  @include font($size: 1.1rem, $weight: 400, $lh: 1.1rem);
  @include box_shadow(1, rgba($fg, 0.2));
  background-color: $nav;
  display: inline-block;
  height: 3.25rem;
  outline: none;
  padding: 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 999;

  &.fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
  }

  &:focus {
    outline: none;
  }

  &.nav-apps {
    background-color: $nav-apps;
  }

  &.nav-ideas {
    background-color: $nav-ideas;
  }

  &.nav-about {
    background-color: $nav-about;
  }
}

.nav-icon {
  @include font($size: .875rem, $weight: 700, $color: $bg, $lh: 2.8rem);
  display: inline-block;
  margin: auto;

  &:hover {
    transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    border-bottom: 3px solid rgba(255, 255, 255, .5);
  }
}

.nav-bar {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  @include font($color: $bg);
  padding: .13rem 1.3rem;
}
