.tab {
    overflow: hidden;
    display: flex;
    line-height: 1rem;
    width: 100%;

    & button.tablinks {
        @include font($size: 1rem, $weight: 400, $lh: 1rem);
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        padding: 14px 16px;
        transition: color .2s ease;
        border-bottom: 3px solid $chip;
        width: 33.333%;

        &:hover {
            border-bottom: 3px solid $badge;
            background-color: rgba($card, 0.766);
        }

        &.active {
            border-bottom: 3px solid $button-info;
        }

        & .fas,.fab {
            margin-right: 12px;
        }
    }
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}
