.tab {
    overflow: hidden;
    display: flex;
    line-height: 1rem;
    width: 100%;

    & button.tablinks {
        @include font($size: 1rem, $weight: 400, $lh: 1rem);
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        padding: 14px 16px;
        transition: color .2s ease;
        width: 33.333%;
        border-top: 1px solid $bg-tab;
        border-bottom: 1px solid $bg-tab;

        &:hover {
          background: $bg-tab;
        }

        &.active::before {
          background-color: $button-info;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          bottom: 0;
          content: '';
          display: block;
          height: 3px;
          left: 0;
          margin: 0 8px;
          position: absolute;
          right: 0;
          transition: .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        }

        & .fas,.fab {
            margin-right: 12px;
        }
    }
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}
