/*********************
 *     TOOLTIP       *
 *********************/

 /* Top tooltip*/

 .tooltip {
   position: relative;
   cursor: pointer;
 }

 .tooltip:before,
 .tooltip:after {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
   text-transform: capitalize;
 }

 .tooltip:before {
   background-color: $tooltip;
   position: absolute;
   bottom: 120%;
   left: 50%;
   margin: 0 0 5px -48px;
   padding: 7px;
   width: 100px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   content: attr(data-tooltip);
   text-align: center;
   font-size: 14px;
   line-height: 1.2;
 }

 .tooltip:after {
   position: absolute;
   bottom: 120%;
   left: 50%;
   margin-left: -5px;
   width: 0;
   border-top: 5px solid $tooltip;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
   content: " ";
   font-size: 0;
   line-height: 0;
 }

 .tooltip:hover:before,
 .tooltip:hover:after {
   visibility: visible;
   opacity: 1;
 }
