*.right {
    float: right;
}

*.left {
    float: left;
}

*.middle {
    float: center;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    @include font($size: 3.5rem, $weight: 700);
}

h2 {
    padding-top: 1rem;
    @include font($size: 2.5rem, $weight: 400);
}

h3 {
    @include font($size: 1.8rem, $weight: 400);
}

h4 {
    @include font($size: 1.3rem);
}

pre {
    font-size: 90%;
    border-radius: 3px;
    background-color: #021B21;
    color: #E8DFD6;
    border: 5px solid #354E54;
}

pre code {
    white-space: pre-wrap;
    font-size: inherit;
    position: relative;
    left: -150px;
    color: inherit;
    border-radius: 0;
}

kbd {
    padding: .2rem .4rem;
    font-size: 90%;
    position: relative;
    left: 5px;
    color: #E8E8DF;
    background-color: #3D3F44;
    border-bottom: 2px solid #5F5F66;
    border-radius: .2rem;
}

code, kbd, pre, samp {
    font-family: Hack,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 1em;
}

.title {
    margin: 0 auto;
    text-align: center;
    @include font($size: 1.5rem, $weight: 400, $color: $fg);
}

.dim-label {
    opacity: 0.8;
}
