.right {
  float: right;
}

.left {
  float: left;
}

.middle {
  float: center;
}

ol li,
ul li {
  list-style-type: circle[];
  list-style-position: inside;

}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  @include font($size: 3.66rem, $weight: 700);
}

h2 {
  @include font($size: 3rem, $weight: 400);
}

h3 {
  @include font($size: 2.66rem, $weight: 400);
}

h4 {
  @include font($size: 2rem, $weight: 400);
}

h5 {
  @include font($size: 1.66rem, $weight: 400);
}

h6 {
  @include font($size: 1rem, $weight: 400);
}

.medium-icon-new {
  @include medium-font($size: 1.1rem, $weight: 700, $lh: .768);
  vertical-align: -15%;
}

pre {
  background-color: #FDF6E3;
  border: 3px solid #eee8d5;
  border-radius: 8px;
  font-size: 90%;
  padding-bottom: 20px;

  & code {
    border-radius: 0;
    color: #657B83;
    font-size: .85rem;
    left: 30px;
    position: relative;
    white-space: pre-line;

    & p {
      display: inline;

      &.symbol {
        color: #859900;
      }

      &.command {
        color: #d33682;
      }

      &.word {
        color: #657B83;
      }
    }
  }
}

kbd {
  background-color: $fg;
  border-bottom: 2px solid $badge;
  border-left: 1px solid $badge;
  border-radius: 8px;
  border-right: 1px solid $badge;
  border-top: 1px solid lighten($badge, 2%);
  color: $bg;
  font-size: 90%;
  left: 5px;
  padding: .2rem .35rem;
  position: relative;
}

code,
kbd,
pre,
samp {
  font-family: Hack, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.title {
  @include font($size: 1.66rem, $weight: 400, $color: $fg);
  margin: 1rem 0 1rem 0;
  text-align: center;
  position: relative;
  display: inline-block;
  max-width: 100vw;
}

.info {
  margin: 5rem auto;
  text-align: justify;
  position: relative;
  display: table;
}

.time {
  margin-right: 15px;
  margin-top: 20px;
}

.dim-label {
  opacity: .8;
}
