.right {
  float: right;
}

.left {
  float: left;
}

.middle {
  float: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  @include font($size: 4.2rem, $weight: 700);
}

h2 {
  @include font($size: 3.56rem, $weight: 400);
}

h3 {
  @include font($size: 2.92rem, $weight: 400);
}

h4 {
  @include font($size: 2.28rem, $weight: 400);
}

h5 {
  @include font($size: 1.64rem, $weight: 400);
}

h6 {
  @include font($size: 1rem, $weight: 400);
}

pre {
  background-color: #FDF6E3;
  border: 3px solid #eee8d5;
  border-radius: 3px;
  color: #657B83;
  font-size: 90%;

  & code {
    border-radius: 0;
    bottom: 10px;
    color: inherit;
    font-size: .85rem;
    left: 30px;
    position: relative;
    white-space: pre-line;

    & p.symbol {
      color: #859900;
      display: inline;
    }
  }
}

kbd {
  background-color: $fg;
  border-bottom: 2px solid $badge;
  border-left: 1px solid $badge;
  border-radius: .3rem;
  border-right: 1px solid $badge;
  color: $bg;
  font-size: 90%;
  left: 5px;
  padding: .2rem .35rem;
  position: relative;
}

code,
kbd,
pre,
samp {
  font-family: Hack, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.title {
  @include font($size: 1.64rem, $weight: 400, $color: $fg);
  margin: 0 auto;
  text-align: center;
}

.dim-label {
  opacity: .8;
}
