/*****************
 * COLOR PALETTE *
 *****************/

// Swatches
$fg: #333333;
$bg: #FFFFFF;
$card-body: #FFFFFF;
$outline: #888888;
$link: #0DAC87;
$badge: #444;

// Brands
$aesop: #ccbbaa;
$notejot: #FCEE9B;
$quilter: #ABC8DB;
$coin: #AFD4A1;
$palaura: #D5B1B1;
$yishu: #D6E1AE;
$beemy: #c6262e;
$timetable: #267ec6;
$dotmatrix: #75DEC2;
$reganam: #715344;
$patreon: #E85B46;
$twitter: #1da1f2;


// Mixes
$link-hover: lighten($link, 10%);
$link-active: lighten($link, 15%);
