/*****************
 * COLOR PALETTE *
 *****************/

// Swatches
$fg: #37474f;
$bg: #FAFAFA;
$bg-tab: #EFEFEF;
$nav: #4d4d4d;
$hero: #6d6d6d;
$link: #4285F4;
$button-success: #4caf50;
$button-info: #4285F4;
$button-ghost: #37474f;
$button-ghost-night: #FAFAFA;
$badge: #263238;
$badge-text: #FAFAFA;
$badge-success: #4caf50;
$chip: #eee;
$chip-vala: #9484b1;
$card: #FFFFFF;
$card-background-coin: #c8e6c9;
$card-background-notejot: #fff59d;
$card-background-palaura: #ef9a9a;
$card-background-quilter: #bbdefb;
$card-background-yishu: #dee8bc;
$card-background-hack: #213C86;
$card-action-hover: #e0e0e0;
$card-skillbar: #9c27b0;
$card-stars: #ffc107;
$tooltip: #37474f;
$fab-icon: #FAFAFA;
$fab-twitter: #2196f3;
$fab-gplus: #E44B45;
$fab-mail: #EEBB31;
$fab-medium: #00e676;
$fab-patreon: #FF6559;
$fab-github: #263238;
$button-kofi: #46b798;

// Mixes
$card-action: darken($card, 5%);
$nav-apps: mix($nav, $link, 50%);
$hero-apps: mix($hero, $link, 50%);
$nav-ideas: mix($nav, $button-success, 50%);
$hero-ideas: mix($hero, $button-success, 50%);
$nav-about: mix($nav, $fab-patreon, 50%);
$hero-about: mix($hero, $fab-patreon, 50%);
$fab-telegram: darken($fab-twitter, 10%);
$link-hover: darken($link, 10%);
$link-active: darken($link, 15%);
$button-success-hover: darken($button-success, 5%);
$button-success-active: darken($button-success, 10%);
$button-info-hover: darken($button-info, 5%);
$button-info-active: darken($button-info, 10%);
$button-kofi-hover: darken($button-kofi, 5%);
$button-kofi-active: darken($button-kofi, 10%);
$button-ghost-active: darken($button-ghost, 15%);
$button-ghost-night-active: darken($button-ghost-night, 10%);
$badge-success-hover: darken($button-success, 5%);
$badge-info-hover: darken($button-info, 5%);
