/*****************
 * COLOR PALETTE *
 *****************/

// Swatches
$fg: #515767;
$bg: #FAF9F9;
$background-1: #FAF9F9;
$background-2: #F5F5F7;
$background-3: #EFF0F1;
$link: #0091F9;
$button-success: #18CEAE;
$button-info: #0091F9;
$button-ghost: #515767;
$button-ghost-night: #F5F5F7;
$badge: #868A99;
$badge-text: #F5F5F7;
$badge-success: #18CEAE;
$chip: #EBF1F5;
$card: #FBFEFE;
$card-background-coin: #badbad;
$card-background-notejot: #fff3ae;
$card-background-palaura: #ddbdbd;
$card-background-quilter: #b8d2e2;
$card-skillbar: #9E6DEB;
$card-stars: #FFC716;
$tooltip: #515767;
$fab-icon: #FBFEFE;
$fab-twitter: #0091F9;
$fab-gplus: #FF4D61;
$fab-mail: #FFC716;
$fab-medium: #18CEAE;
$fab-patreon: #FF7B33;
$fab-github: #515767;

// Mixes
$fab-telegram: darken($fab-twitter, 7%);
$link-hover: darken($link, 5%);
$link-active: darken($link, 10%);
$button-success-active: darken($button-success, 10%);
$button-info-active: darken($button-info, 10%);
$button-ghost-active: darken($button-ghost, 15%);
$button-ghost-night-active: darken($button-ghost-night, 10%);
$badge-success-hover: darken($button-success, 5%);
$badge-info-hover: darken($button-info, 5%);
