.image-coin {
    background: linear-gradient(150deg,#c8e6c9 0%,#a5d6a7 100%);
}

.image-notejot {
    background: linear-gradient(150deg,#fff59d 0%,#fff06a 100%);
}

.image-quilter {
    background: linear-gradient(150deg,#bbdefb 0%,#8bc7f8 100%);
}

.image-palaura {
    background: linear-gradient(150deg,#ef9a9a 0%,#e86e6e 100%);
}

.image-yishu {
    background: linear-gradient(150deg,#dee8bc 0%,#bcc69a 100%);
}

.image-hack {
    background: linear-gradient(150deg,#296CB6 0%,#213C86 100%);
}

.button a {
    color: #fff;
    &:hover {
        color: #fff;
    }
}

.button.is-patreon {
    background-color: #F96854;
    border-color: transparent;
    color: #fff;

    &:hover {
        background-color: #E85743;
        border-color: transparent;
        color: #fff;
    }

    &:active {
        background-color: #E85743;
        border-color: transparent;
        color: #fff;
    }
}

.button.is-kofi {
    background-color: #46b798;
    border-color: transparent;
    color: #fff;

    &:hover {
        background-color: #6ac6ad;
        border-color: transparent;
        color: #fff;
    }

    &:active {
        background-color: #31806a;
        border-color: transparent;
        color: #fff;
    }
}

.footer {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
}

.header-icon-star {
    color: #FFBB57;
}

.header-icon-economy {
    color: #57DD88;
}

.icon-check {
    color: #57DD88;
}

.icon-check-faded {
    color: #ccc;
}

.header-icon-tech {
    color: #5788DD;
}

.custom-title {
    color: #00000077;
    font-size: 1.5rem;
    text-align: center;
    display: block;
}

.custom-image {
    text-align: center;
    padding: 1.2rem 0;
}

.custom-card-banner {
    text-align: center;
    padding: 1.2rem 0;
}

.custom-banner {
    width: 70%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0 auto;
    display: inline;
}

.tag:not(body).is-vala {
    background-color: #573767;
    color: #fff;
}

.navbar-burger {
    color: #363636;

    &:active {
        border: none;
    }

    &:hover {
        border: none;
    }
}

#tab_container .container_item {
    display: none;
}

#tab_container .container_item.is-active {
    display: block;
}

@media screen and (min-width: 320px) {
    .flow-text {
        font-size: calc(0.875rem + 0.5 * ((100vw - 20rem) / 60));
    }
}
@media screen and (min-width: 1000px) {
    .flow-text {
        font-size: 1.375rem;
    }
}

.flow-text {
    font-weight: 400;
}

.card-image {
    border-radius: 16px 16px 0 0;
}

.card {
    border-radius: 16px;
}

.button {
    transition: all linear .25s;
    text-shadow: 0 1px rgba(0,0,0,.3);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    border: 1px solid;
    &:focus {
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    }
    &:hover {
        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    }
    &:active {
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.05), 0 1px 0 0 rgba(255,255,255,.3);
    }
}
